{% extends '::base.html.twig' %}

{% block body -%}
{% include ('@LaisoArm/Responsable/includes/edit_responsable.html.twig') %}
        <a href="{{ path('users') }}">
            Back to the list
        </a>
    </li>
    {{ form(delete_form) }}
{% endblock %}
