{% extends '::base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block breadcumbs %}
    <li><a href="#">Super Administrateur</a></li>
    <li><a href="{{ path('users') }}">Utilisateurs</a></li>
{% endblock %}

{% block body -%}
    <table class="table border bordered">
        <thead>
        <tr>
            <th>Renseignements</th>
            <th>Rôles</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    Nom : {{ entity.nom | upper }} {{ entity.prenom }}
                    <hr class="thin">
                    <span class="tag success">{{ entity.username }}</span> <span class="tag info">{{ entity.email }}</span>
                </td>
                <td>
                    {% for role in entity.roles %}
                        <span class="tag info">{{ role }}</span>
                    {% endfor %}</td>
                <td class="align-center">
                    <a href="{{ path('users_show', { 'id': entity.id }) }}">Détails</a>
                    <a href="{{ path('users_edit', { 'id': entity.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="button primary ajax-button" href="{{ path('users_new') }}">
        Ajouter un nouvel utilisateur
    </a>
{% endblock %}
