{% extends '::base.html.twig' %}

{% block body -%}
    {% include ('@LaisoArm/Responsable/includes/new_responsable.html.twig') %}
    <a href="{{ path('users') }}">
        Back to the list
    </a>
{% endblock %}
