{% extends '::base.html.twig' %}

{% block breadcumbs %}
    <li><a href="#">Super Administrateur
    <li><a href="{{ path('users') }}">Utilisateurs</a></li>
    <li>
        <a href="{{ path('users_show', {'id': entity.id}) }}">{{ entity.nom ~ " " ~ entity.prenom ~ " (" ~ entity.username ~ ")" }}</a>
    </li>
{% endblock %}

{% block body -%}
    <table class="table border bordered">
        <tbody>
        <tr>
            <th style="width: 25%;">Nom</th>
            <td>{{ entity.nom ~ " " ~ entity.prenom }}</td>
        </tr>
        <tr>
            <th>Nom d'utilisateur</th>
            <td>{{ entity.username }}</td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Dernière activité</th>
            <td>{{ entity.lastLogin | localizeddate ('full') }}</td>
        </tr>
        <tr>
            <th>Etat du compte</th>
            <td>
                {{ entity.enabled ? '<span class="tag success">Activé</span>' | raw : '<span class="tag warning">Non activé</span>' | raw }}
            </td>
        </tr>
        <tr>
            <th>Verrouillé</th>
            <td>
                {{ entity.locked ? '<span class="tag warning">Verouillé</span>' | raw : '<span class="tag success">Non</span>' | raw }}
            </td>
        </tr>
        <tr>
            <th>Expiré</th>
            <td>
                {{ entity.expired ? '<span class="tag warning">Expiré</span>' | raw : '<span class="tag success">Non</span>' | raw }}
            </td>
        </tr>

        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('users') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('users_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
