<h1 class="fg-darkTeal">Création de nouveau prix</h1>
<br>
{{ form_start(form) }}
<div class="grid laiso-bordered padding10">
    <div class="row cells4">
        <div class="cell colspan2">
            <strong>Catégorie du prix</strong>

            <div class="fg-red">
                {{ form_errors(form.categorie) }}
            </div>
            <div class="input-control select full-size" data-role="select">
                {{ form_widget(form.categorie) }}
            </div>
        </div>

        <div class="cell">
            <strong>Numéro de série</strong>

            <div class="fg-red">
                {{ form_errors(form.numero) }}
            </div>
            <div class="input-control text full-size">
                {{ form_widget(form.numero) }}
            </div>
        </div>
        <div class="cell">
            <strong>Unité de mesure</strong>

            <div class="fg-red">
                {{ form_errors(form.unite) }}
            </div>
            <div class="input-control select full-size" data-role="select">
                {{ form_widget(form.unite) }}
            </div>
        </div>
    </div>
    <div class="row cells4">
        <div class="cell colspan4">
            <strong>Désignation</strong>

            <div class="fg-red">
                {{ form_errors(form.designation) }}
            </div>
            <div class="input-control text full-size">
                {{ form_widget(form.designation) }}
            </div>
        </div>
    </div>
</div>


{{ form_end(form) }}