{% extends '::base.html.twig' %}

{% block title %}Administration - Modifier la Catégorie des {{ entity }} {% endblock %}

{% block body -%}

    {% include ('LaisoArmBundle:CategoriePrix/includes:edit_categoriePrix.html.twig') %}

    <a class="button danger ajax-button place-right" href="{{ path('prix_categorie_ajax_delete', {'id' : entity.id}) }}">
        Supprimer
    </a>

    <a class="button primary" href="{{ path('prix_categorie') }}">
        Retourner à la liste des catégories de prix
    </a>
{% endblock %}
