{% extends '::base.html.twig' %}

{% block title %}Administration - Catégorie des prix{% endblock %}

{% block breadcumbs %}
    <li><a href="#">Prix</a></li>
    <li><a href="{{ path('prix_categorie') }}">Catégorie des prix</a></li>
{% endblock %}

{% block body -%}
    {% if entities | length > 0 %}
        <table class="table border bordered">
            <thead>
            <tr>
                <th style="width: 15%">Numéro</th>
                <th>Désignation</th>
                <th style="width:20%">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.numero }}</td>
                    <td>{{ entity.designation }}</td>
                    <td class="align-center">
                        {#<a href="{{ path('prix_categorie_show', { 'id': entity.id }) }}">
                            <span data-role="hint" data-hint-background="bg-darkTeal" data-hint-color="fg-white"
                                  data-hint="Détailler|Détailler la catégorie {{ entity.designation }}">Détailler</span>
                        </a>#}
                        <a class="ajax-button" href="{{ path('prix_categorie_edit', { 'id': entity.id }) }}">
                            <span data-role="hint" data-hint-background="bg-darkTeal" data-hint-color="fg-white"
                                  data-hint="Modifier|Modifier la catégorie {{ entity.designation }}">Modifier</span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include ('LaisoArmBundle:Shared:paginator.html.twig') %}

        <a class="button primary ajax-button" href="{{ path('prix_categorie_new') }}">
            Créer une nouvelle catégorie de prix
        </a>
    {% else %}
        <div class="align-center padding10 laiso-bordered margin10 no-margin-left no-margin-right no-margin-bottom">

            <h3>Aucune catégorie de prix.</h3>
            <a class="button primary ajax-button" href="{{ path('prix_categorie_new') }}">
                Créer une nouvelle catégorie de prix
            </a>
        </div>
    {% endif %}
{% endblock %}
