{% extends '::base.html.twig' %}

{% block title %}Administration - Nouvelle Catégorie des prix{% endblock %}

{% block body -%}
    {% include ('@LaisoArm/CategoriePrix/includes/new_categoriePrix.html.twig') %}

    <a class="button primary" href="{{ path('prix_categorie') }}">
        Retourner à la liste des catégories de prix.
    </a>
{% endblock %}
