{{ form_start(form) }}
    <h3>Confirmer la création de l'avance de démarrage du marché {{ entity.marche }}</h3>
<br>
    <div class="margin10 no-margin-left no-margin-right no-margin-bottom padding10 laiso-bordered grid">
        <div class="row cells4">
            <div class="cell">
                <strong>Montant du marché</strong>
                <div class="input-control text full-size">
                    <input type="text" disabled value="Ar. {{ entity.marche.montantInitial | separer }}">
                </div>
            </div>
            <div class="cell">
                <strong>Taux de l'avance</strong>
                <div class="input-control text full-size">
                    <input type="text" disabled value="{{ taux }} %">
                </div>
            </div>

            <div class="cell">
                <strong>Montant  de l'avance</strong>
                <div class="input-control text full-size">
                    <input type="text" disabled value="Ar. {{ entity.montant | separer }}">
                </div>
            </div>

            <div class="cell">
                <strong>Date</strong>
                <div class="input-control full-size" data-role="datepicker" data-format="dd/mm/yyyy">
                    {{ form_widget(form.date) }}
                </div>
            </div>
        </div>
    </div>

{{ form_end(form) }}
