{#
    C'est le seul endroit où l'on peut modifier les prix unitaires ssi lotissement.PuValide == false
    Modification de quantité interdite. Les quantités initiales doivent être déjà définies lors de
    la création du dao.

#}

{% set prixComplet = true %}
{% set cumul = 0 %}
{% set i = 0 %}

{% set tva = avenant.marche.entrepriseAssujettie ? avenant.marche.lotissement.campagne.tva : 0 %}

{% if consistances | length > 0 %}
    {% for consistance in consistances %}
        <div class="laiso-bordered padding10 bg-grayLighter margin10 no-margin-top no-margin-right no-margin-left">
            <div class="laiso-bordered padding10 align-center bg-white">
                <h4>
                {{ consistance.type }}
                </h4>

                {% for site in consistance.localisations %}
                    <small>Axe {{ lotissement.axe }} - Entre le PK {{ site.pKDebut }} et le PK {{ site.pKFin }} - {{ site.localisation }}</small>
                    <br>
                {% endfor %}
                <br>
                <strong>Lot n° {{ lotissement }}</strong>
                <br>
                {{ consistance.libelle is not null ? consistance.libelle : "" }}
            </div>
            {% if consistance.prix | length > 0 %}
                <table class="bordered border table bg-white">
                    <thead>
                    <tr>
                        <th style="width: 10%;">Numéro</th>
                        <th>Désignation</th>
                        <th style="width: 10%;">Unité</th>
                        <th style="width: 10%;">Quantité</th>
                        <th style="width: 13%;">Prix Unitaire</th>
                        <th style="width: 13%;">Montant</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set current = "" %}
                    {% set cumulCategorie = 0 %}
                    {% set k = 0 %}
                    {% for prix in consistance.prix %}
                        {% set montant = 0 %}
                        {% for ligne in prix.lignesDqe %}
                            {% if ligne.avenant.id == avenant.id %}
                                {% set serie = ligne.prix.serie %}
                                {% set categorie = serie.categorie %}
                                {% if current != categorie.designation %}
                                    {% if k > 0 %}
                                        <tr>
                                            <td></td>
                                            <td colspan="3"><strong>SOUS TOTAL</strong></td>
                                            <td colspan="2" class="align-right"><strong>{{ cumulCategorie | separer }}</strong></td>
                                        </tr>
                                        {% set cumul = cumul + cumulCategorie %}
                                        {% set cumulCategorie = 0 %}
                                    {% endif %}
                                    <tr class="bg-grayLighter">
                                        <td><strong>{{ categorie.numero }}</strong></td>
                                        <td colspan="5"><strong>{{ categorie.designation }}</strong></td>
                                    </tr>
                                    {% set current = categorie.designation %}
                                    {% set cumulCategorie = 0 %}
                                {% endif %}

                                <tr>
                                    <td>{{ serie.numero }}</td>
                                    <td>{{ serie.designation }}</td>
                                    <td class="align-center">{{ serie.unite.abbrege }}</td>
                                    <td class="align-right">{{ ligne.quantite | separer }}</td>
                                    <td class="align-right">
                                    {% if lotissement.PuValide == false %}
                                        {% set prixComplet = (ligne.prix.prixUnitaire > 0) ? true : false %}
                                        <form method="post" action="{{ path('prix_unitaire_update', {'numero': ligne.prix.serie.numero, 'marcheId': avenant.marche.id, 'consistanceId': consistance.id }) }}">
                                            <input data-target="montant-{{ ligne.prix.serie.numero }}" name="form[prixUnitaire]" class="inlineEditor bg-grayLighter" type="text" style="border: none; padding: 1px; text-align: right; width: 100px; padding: 5px;" value="{{ (ligne.prix.prixUnitaire > 0 ? ligne.prix.prixUnitaire : 0) | separer }}">
                                        </form>
                                    {% else %}
                                        {{ (ligne.prix.prixUnitaire | separer) }}
                                    {% endif %}
                                    </td>
                                    <td class="align-right" id="montant-{{ ligne.prix.serie.numero }}">
                                        {% if ligne.prix.prixUnitaire %}
                                            {% set montant = ligne.prix.prixUnitaire * ligne.quantite %}
                                            {{ montant | separer }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                            {% set cumulCategorie = cumulCategorie + montant %}
                            {% if k == consistance.prix | length - 1 %}
                                <tr>
                                    <td></td>
                                    <td colspan="3"><strong>SOUS TOTAL</strong></td>
                                    <td colspan="2" class="align-right"><strong>{{ cumulCategorie | separer }}</strong></td>
                                </tr>
                                {% set cumul = cumul + cumulCategorie %}
                            {% endif %}
                        {% endfor %}
                        {% set k = k + 1 %}
                    {% endfor %}
                    {% if i == consistances | length - 1 %}
                        <tr class="bg-grayLighter">
                            <td colspan="6"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="3"><strong>TOTAL HTVA</strong></td>
                            <td colspan="2" class="align-right"><strong>{{ cumul | separer }}</strong></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="3"><strong>TVA ({{ tva }}%)</strong></td>
                            <td colspan="2" class="align-right"><strong>{{ ((cumul * tva) /100) | separer }}</strong></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="3"><strong>TOTAL + TVA</strong></td>
                            <td colspan="2" class="align-right"><strong>{{ (cumul + cumul * tva / 100) | separer }}</strong></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="5">
                                <strong>
                                    Arrêté le présent Détail Quantitatif Et Estimatif à : {{ ((cumul + cumul * tva / 100) | toLetter('ariary', false)) | upper }} (Ar. {{ (cumul + cumul * tva / 100) |separer }})
                                </strong>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            {% else %}
                <div class="align-center laiso-bordered padding10 margin10 no-margin-bottom no-margin-right no-margin-left bg-white">
                    <h3>Aucune ligne trouvée dans ce groupe de travaux.</h3>
                </div>
            {% endif %}
        </div>
        {% set i = i + 1 %}
    {% endfor %}

    {% if prixComplet == false %}
        <small><span class="fg-orange">Remplir tout les prix unitaires afin de pouvoir valider le DQE.</span></small>
        <a href="" class="button place-right primary">Envoyer les données</a>
    {% endif %}

    {% if lotissement.PuValide == false and prixComplet %}
        <a href="{{ path('pu_validate', {'id': avenant.marche.id}) }}" class="primary button place-right confirm">Valider les prix unitaires</a>
    {% endif %}
    {% if lotissement.PuValide %}
        <small><span class="place-right fg-orange">Vous ne pouvez plus apporter de modification sur les prix unitaires.</span></small>
    {% endif %}
{% else %}
    <div class="align-center laiso-bordered padding10 margin10 no-margin-top no-margin-right no-margin-left">
        <h3>Aucune consistance trouvée dans ce lot.</h3>
        <a href="{{ path('consistance_new', {'daoId' : lotissement.id}) }}" class="button primary ajax-button">Ajouter une consistance</a>
    </div>
{% endif %}