{% if avenant.libelle.numero == 0 %}
    {#
        MARCHE INITIAL
        Si lotissement.PuValide : interdire les modifications sur les prix unitaires;
    #}
    {% if lotissement.PuValide %}
        <div class="align-center  margin10 no-margin-top no-margin-right no-margin-left">
            <div class="bg-lightGreen padding5">
                <h3>{{ 'Détail quantitatif et Estimatif' |upper }}</h3>
            </div>
        </div>
    {% else %}
        <div class="align-center  margin10 no-margin-top no-margin-right no-margin-left">
            <div class="bg-grayLight padding5">
                <h3>{{ 'Détail quantitatif et Estimatif' |upper }}</h3>
            </div>
        </div>
    {% endif %}

    {% include ('@LaisoArm/DQE/marche/dqe_marche_initial.html.twig') %}
{% elseif avenant.libelle.numero > 0 %}
    {#
        lotissement.PuValide est déjà à true.
        Si avenant.valide: inerdire les modifications sur les quantitées.
    #}
    {% if avenant.valide %}
        <div class="align-center  margin10 no-margin-top no-margin-right no-margin-left">
            <div class="bg-lightGreen padding5">
                <h3>{{ 'Détail quantitatif et Estimatif' |upper }}</h3>
            </div>
        </div>
    {% else %}
        <div class="align-center  margin10 no-margin-top no-margin-right no-margin-left">
            <div class="bg-grayLight padding5">
                <h3>{{ 'Détail quantitatif et Estimatif' |upper }}</h3>
            </div>
        </div>
    {% endif %}

    {% include ('@LaisoArm/DQE/marche/dqe_avenant.html.twig') %}
{% endif %}