{% extends '::base.html.twig' %}

{% block title %}Erreur 500 - Erreur interne du serveur{% endblock %}

{% block breadcumbs %}
    <li><a href="#">Erreur 500</a></li>
{% endblock %}

{% block body %}

    <div class="align-center padding10 laiso-bordered">
        <div class="fg-darkRed bg-grayLighter padding5">
            <h1>Erreur 500. <small>Erreur interne du serveur.</small></h1>
        </div>
        <hr class="bg-red thin">
        <div class="fg-gray">
            <h3>
                Veuillez contacter l'administrateur ou <a href="{{ path('laiso_arm_homepage') }}">retourner à la page d'accueil.</a>
            </h3>
        </div>
    </div>

{% endblock %}
