{% extends '::base.html.twig' %}

{% block title %}Erreur 404 - Page non trouvée{% endblock %}

{% block breadcumbs %}
    <li><a href="#">Erreur 404</a></li>
{% endblock %}

{% block body %}
    <div class="align-center padding10 laiso-bordered">
        <div class="fg-darkRed bg-grayLighter padding5">
            <h1>Erreur 404. <small>Page non trouvée.</small></h1>
        </div>
        <hr class="bg-red thin">
        <div class="fg-gray">
            <h3>
                Veuillez vérifier l'URL ou <a href="{{ path('laiso_arm_homepage') }}">retourner à la page d'accueil.</a>
            </h3>
        </div>
    </div>
{% endblock %}