{% extends '::base.html.twig' %}

{% block title %}Erreur 403 - Opération interdite{% endblock %}

{% block breadcumbs %}
    <li><a href="#">Erreur 403</a></li>
{% endblock %}

{% block body %}
    <div class="align-center padding10 laiso-bordered">
        <div class="fg-darkRed bg-grayLighter padding5">
            <h1>Opération interdite.</h1>
        </div>
        <hr class="bg-red thin">
        <div class="fg-gray">
            <h3>
                Vous n'êtes pas autorisés à accéder à ce ressource.
                {{ app.user.hasRole('ROLE_ARM') ? '' : '<br><small>Vous n\'avez pas le privilège nécessaire pour utiliser l\'application. Veuillez contacter l\'administrateur informatique</small>'  }}
            </h3>
            <p>
                <a href="{{ path('laiso_arm_homepage') }}">Retourner à la page d'accueil.</a>
            </p>
        </div>
    </div>
{% endblock %}
