{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <dl class="horizontal padding10 laiso-bordered">
        <dt>{{ 'profile.show.username'|trans }} :</dt>
        <dd>{{ user.username }}</dd>

        <dt>{{ 'profile.show.nom'|trans }} :</dt>
        <dd>{% if user.nom | length > 0 %} {{ user.nom }} {% else %}-{% endif %}</dd>

        <dt>{{ 'profile.show.prenom'|trans }} :</dt>
        <dd>{% if user.prenom | length > 0 %} {{ user.prenom }} {% else %}-{% endif %}</dd>

        <dt>{{ 'profile.show.email'|trans }} :</dt>
        <dd>{{ user.email }}</dd>

        <dt>Rôles :</dt>
        <dd>{%  for role in user.roles %}{{ role }} {% endfor %}</dd>

        <dt>Dernière connexion :</dt>
        <dd>{{ user.lastLogin | date("d M Y - H:i") }}</dd>

        <dt>Bloc : </dt>
        <dd>{% if user.bloc is not null %} {{ user.bloc.localisation }}{% else %}Aucun bloc attribué à votre compte{% endif %}</dd>
    </dl>
</div>
<span class="clear-float"></span>