{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %} {{ app.user.nom }} {{ app.user.prenom }} {% endblock %}

{% block breadcumbs %}
    <li><a href="{{ path('fos_user_profile_show') }}">{{ app.user.nom }} {{ app.user.prenom }}</a></li>
{% endblock %}
{% block fos_user_content %}
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}
