{% extends '::base.html.twig' %}

{% block title %}Admin - Axe {{ entity }}{% endblock %}

{% block breadcumbs %}
    <li><a href="#">Admin</a></li>
    <li><a href="{{ path('axe') }}">Axes</a></li>
    <li><a href="{{ path('axe_show', {'id': entity.id}) }}">{{ entity }}</a></li>
    <li><a href="{{ path('axe_edit', {'id': entity.id}) }}">Modifier</a></li>
{% endblock %}

{% block body -%}
    {% include ('@LaisoArm/Axe/includes/edit_axe.html.twig') %}

    {{ form(delete_form) }}
    <a class="button primary" href="{{ path('axe') }}">
        Retourner à la liste
    </a>
{% endblock %}
