{% extends '::base.html.twig' %}

{% block title %}Admin - Axe{% endblock %}

{% block breadcumbs %}
    <li><a href="#">Admin</a></li>
    <li><a href="{{ path('axe') }}">Axes</a></li>
{% endblock %}

{% block body -%}
    {% if entities | length > 0 %}
        <table class="table border bordered">
            <thead>
            <tr>
                <th style="width: 80%;">Axe</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity }}</td>
                    <td class="align-center">
                        {#<a href="{{ path('axe_show', { 'id': entity.id }) }}">Détails</a>#}
                        <a class="ajax-button" href="{{ path('axe_edit', { 'id': entity.id }) }}">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include ('LaisoArmBundle:Shared:paginator.html.twig') %}
        <a class="button primary ajax-button" href="{{ path('axe_new') }}">
            Créer un nouvel axe
        </a>
    {% else %}
        <div class="laiso-bordered padding10 align-center margin10 no-margin-left no-margin-right no-margin-bottom">
            <h3>Aucun axe trouvé</h3>
            <a class="button primary ajax-button" href="{{ path('axe_new') }}">
                Créer un nouvel axe
            </a>
        </div>
    {% endif %}

{% endblock %}
