{% extends '::base.html.twig' %}

{% block title %}Admin - Axe{% endblock %}

{% block breadcumbs %}
    <li><a href="#">Admin</a></li>
    <li><a href="{{ path('axe') }}">Axes</a></li>
    <li><a href="{{ path('axe_new') }}">Créer</a></li>
{% endblock %}

{% block body -%}
    {% include ('@LaisoArm/Axe/includes/new_axe.html.twig') %}
{% endblock %}
