{% extends '::base.html.twig' %}

{% block title %}Admin - Axe {{ entity }}{% endblock %}

{% block breadcumbs %}
    <li><a href="#">Admin</a></li>
    <li><a href="{{ path('axe') }}">Axes</a></li>
    <li><a href="{{ path('axe_show', {'id': entity.id}) }}">{{ entity }}</a></li>
{% endblock %}

{% block body -%}
    <table class="table border bordered">
        <tbody>
        <tr>
            <th style="width: 20%;">Type</th>
            <td>{{ entity.type }}</td>
        </tr>
        <tr>
            <th>Numero</th>
            <td>{{ entity.numero }}</td>
        </tr>
        </tbody>
    </table>

    {{ form(delete_form) }}
    <a href="{{ path('axe') }}" class="button primary">
        Retourner à la liste
    </a>

    <a class="button primary ajax-button" href="{{ path('axe_edit', { 'id': entity.id }) }}">
        Modifier
    </a>
{% endblock %}
