{% extends "::base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="laiso-bordered padding10 no-padding-bottom margin10 no-margin-bottom no-margin-left no-margin-right">
        <div class="align-center">
            <h3>
                Bienvenue sur la plateforme SGPEC: <span class="fg-darkTeal">Système de Gestion de Projet d'Entretiens Courants des routes</span>
                de l'Autorité Routière de Madagascar
            </h3>
            <hr class="thin" width="30%">
        </div>

        {% if app.user.hasRole('ROLE_ADMIN') %}
            {% include '@LaisoArm/Default/menuAdmin.html.twig' %}
        {% elseif app.user.hasRole('ROLE_DTEC') or app.user.hasRole('ROLE_CI') or app.user.hasRole('ROLE_ASSIST') %}
            {% include '@LaisoArm/Default/menuDtec.html.twig' %}
        {% endif %}
    </div>
{% endblock %}