<h3 class="bg-grayLighter padding10">Menu principal <span class="place-right tag warning">Super Admin</span></h3>

<div class="grid">
    <div class="row cells2">
        <div class="cell">
            <div class="panel collapsible" data-role="panel">
                <div class="heading">
                    <span class="icon mif-cog"></span>
                    <span class="title">Paramétrage</span>
                </div>
                <div class="content padding10">
                    <div class="padding10">
                        <ul class="numeric-list square-marker">
                            <li><a href="{{ path('typeconsistance') }}">Types de consistance</a></li>
                            <li><a href="{{ path('unitedemesure') }}">Unités de mesure</a></li>
                            <li><a href="{{ path('libelleavenant') }}">Libellés de marché</a></li>
                            <li><a href="{{ path('bloc') }}">Bloc</a></li>
                            <li><a href="{{ path('region') }}">Régions</a></li>
                            <li><a href="{{ path('axe') }}">Axes</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="panel collapsible" data-role="panel">
                <div class="heading">
                    <span class="icon mif-users"></span>
                    <span class="title">Gestion des utilisateurs</span>
                </div>
                <div class="content padding10">
                    <ul class="numeric-list square-marker">
                        <li><a href="#">Gestion des utilisateurs</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
