<h3 class="bg-grayLighter padding10">Menu principal <span class="place-right tag warning">{{ app.user.hasRole('ROLE_CI') ? 'Chargé d\'Itinéraires' : 'Administration' }}</span></h3>


<div class="grid">
    <div class="row {{ app.user.hasRole('ROLE_CI') ? 'cells3' : 'cells4' }}">
        <div class="cell">
            <div class="panel collapsible" data-role="panel">
                <div class="heading">
                    <span class="icon mif-bookmarks"></span>
                    <span class="title">DAO</span>
                </div>
                <div class="content padding10">
                    <div class="padding10">
                        <ul class="numeric-list square-marker">
                            <li><a href="{{ path('prix_categorie') }}">Catégie des prix</a></li>
                            <li><a href="{{ path('prix_serie') }}">Séries des prix</a></li>
                            <li><a href="{{ path('dao') }}">Dossier d'appel d'offres</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="panel collapsible" data-role="panel">
                <div class="heading">
                    <span class="icon mif-books"></span>
                    <span class="title">Marchés</span>
                </div>
                <div class="content padding10">
                    <ul class="numeric-list square-marker">
                        <li><a href="{{ path('marche') }}">Marchés</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="panel collapsible" data-role="panel">
                <div class="heading">
                    <span class="icon mif-bitcoin"></span>
                    <span class="title">Entreprises</span>
                </div>
                <div class="content padding10">
                    <ul class="numeric-list square-marker">
                        <li><a href="{{ path('entreprise') }}">Entreprises</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% if not app.user.hasRole('ROLE_CI') %}
            <div class="cell">
                <div class="panel collapsible" data-role="panel">
                    <div class="heading">
                        <span class="icon mif-cog"></span>
                        <span class="title">Administration</span>
                    </div>
                    <div class="content padding10">
                        <ul class="numeric-list square-marker">
                            <li><a href="{{ path('campagne') }}">Campagnes</a></li>
                            <li><a href="">Tableau de bord</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
