<h1>Modifier la quantité</h1>
<br>
{{ form_start(form) }}
    <div class="laiso-bordered padding10 grid">
        <div class="row cells4">
            <div class="cell colspan3">
                <strong>Désignation du travail</strong>
                <div class="input-control full-size text">
                    <input type="text" value="{{ entity.ligneDqe.prix.serie.numero }} - {{ entity.ligneDqe.prix.serie.designation }}" disabled>
                </div>
            </div>
            <div class="cell">
                <strong>Quantité du mois</strong>
                <div class="input-control number full-size align-right">
                    {{ form_widget(form.quantite) }}
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}
