<h1>Modifier l'attachement n° {{ entity.numero }}</h1>
<br>
{{ form_start(edit_form) }}
<div class="grid laiso-bordered padding10">
    <div class="row cells4">
        <div class="cell">
            <strong>Numéro de l'attachement</strong>
            <div class="fg-red">
                {{ form_errors(edit_form.numero) }}
            </div>
            <div class="input-control number full-size">
                {{ form_widget(edit_form.numero) }}
            </div>
        </div>

        <div class="cell colspan3">
            <strong>Date de l'attachement</strong>
            <div class="fg-red">
                {{ form_errors(edit_form.dateAttachement) }}
            </div>
            <div class="input-control full-size" data-role="datepicker" data-format="dd/mm/yyyy">
                {{ form_widget(edit_form.dateAttachement) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(edit_form) }}
