{% if entities | length > 0 %}
    <table class="table bordered border">
        <thead>
        <tr>
            <th>Numéro</th>
            <th>Date de l'attachement</th>
            <th>Type</th>
            <th>Montant</th>
            <th width="20%">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.numero }}</td>
                <td>{% if entity.dateAttachement %}{{ entity.dateAttachement|date('d M Y') }}{% endif %}</td>
                <td class="align-center">{{ entity.type }}</td>
                <td class="align-right">
                    {% if entity.type =="TRAVAUX" %}

                    {% elseif entity.type == "RETENUE" %}

                    {% endif %}
                </td>
                <td class="align-center">
                    <a href="{{ path('attachement_show', { 'id': entity.id, 'marcheId' : entity.decompte.avenant.marche.id, 'decompteId' : entity.decompte.id }) }}">Détails</a>
                    <a href="{{ path('attachement_edit', { 'id': entity.id, 'marcheId' : entity.decompte.avenant.marche.id, 'decompteId' : entity.decompte.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="button primary ajax-button" href="{{ path('attachement_new', {'marcheId': marcheId, 'decompteId': decompteId}) }}">Ajouter un nouvel attachement</a>
{% else %}
    <div class="laiso-bordered padding10 margin10 no-margin-left no-margin-right no-margin-bottom align-center">
        <h3>Aucun attachement</h3>
        <a class="button primary ajax-button" href="{{ path('attachement_new', {'marcheId': marcheId, 'decompteId': decompteId}) }}">Ajouter un nouvel attachement</a>
    </div>
{% endif %}