<h1>Ajout d'intervenant</h1>

{{ form_start(edit_form, {'attr':{
    'data-role': 'validator',
    'data-show-required-state': "false",
    'data-hint-mode': "line",
    'data-hint-background': "bg-red",
    'data-hint-color': "fg-white",
    'data-hide-error': "5000"
}}) }}
<div class="grid laiso-bordered padding10">
    <div class="row cells3">
        <div class="cell">
            <strong>Fonction</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.fonction) }}
            </div>

            <div class="input-control full-size">
                {{ form_widget(edit_form.fonction) }}
            </div>
        </div>
        <div class="cell colspan2">
            <strong>Nom</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.nom) }}
            </div>

            <div class="input-control full-size">
                {{ form_widget(edit_form.nom) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(edit_form) }}