<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %} | ARM::SGPEC</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% block stylesheets %}
        <link rel="stylesheet" media="all" type="text/css" href="{{ asset('public/metro-ui/css/metro.min.css') }}">
        <link rel="stylesheet" media="all" type="text/css" href="{{ asset('public/metro-ui/css/metro-responsive.min.css') }}">
        <link rel="stylesheet" media="all" type="text/css" href="{{ asset('public/metro-ui/css/metro-rtl.min.css') }}">
        <link rel="stylesheet" media="all" type="text/css" href="{{ asset('public/metro-ui/css/metro-schemes.min.css') }}">
        <link rel="stylesheet" media="all" type="text/css" href="{{ asset('public/metro-ui/css/metro-icons.min.css') }}">
        <link rel="stylesheet" media="all" type="text/css" href="{{ asset('public/styles/jquery.mCustomScrollbar.min.css') }}">
        <link rel="stylesheet" media="all" type="text/css" href="{{ asset('public/styles/styles.css') }}">
    {% endblock %}
</head>
<body> <!--class="scroll-y"--->
<div class="container-fluid margin10">
    <div class="bg-grayLighter padding10 laiso-bordered margin10 no-margin-left no-margin-right no-margin-bottom">
        <h1><a href="{{ path('laiso_arm_homepage') }}" class="fg-black">ARM::SGPEC</a>
            <small> SYSTEME DE GESTION DE PROJET D'ENTRETIENS COURANTS DES ROUTES</small>
        </h1>
    </div>
    <br>

    <div class="bg-grayLighter padding10 laiso-bordered">

        <!-- MENU -->

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <ul class="h-menu laiso-bordered bg-white">
            <li><a href="{{ path('laiso_arm_homepage') }}">Accueil</a></li>
            {% if app.user.hasRole('ROLE_DTEC') or app.user.hasRole('ROLE_CI') %}
                <li>
                    <a href="#" class="dropdown-toggle">Gestion des DAO</a>
                    <ul class="d-menu" data-role="dropdown">
                        <li>
                            <a href="#" class="dropdown-toggle">Prix</a>
                            <ul class="d-menu" data-role="dropdown">
                                <li><a href="{{ path('prix_categorie') }}">Catégorie</a></li>
                                <li><a href="{{ path('prix_serie') }}">Série de prix</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('dao') }}">DAO</a></li>
                    </ul>
                </li>
            {% endif %}

            {% if app.user.hasRole('ROLE_DTEC') or app.user.hasRole('ROLE_CI') %}
                <li><a href="{{ path('marche') }}">Gestion des marchés</a></li>
            {% endif %}

            {% if app.user.hasRole('ROLE_DTEC') or app.user.hasRole('ROLE_CI') %}
                <li><a href="{{ path('entreprise') }}">Entreprises</a></li>
            {% endif %}

            {% if app.user.hasRole('ROLE_DTEC') %}
                <li>
                    <a href="#" class="dropdown-toggle">Administration</a>
                    <ul class="d-menu" data-role="dropdown">
                        <li><a href="{{ path('dashboard_index') }}">Tableau de bord</a></li>
                        <li><a href="{{ path('campagne') }}">Campagne</a></li>
                    </ul>
                </li>
            {% endif %}

            {% if app.user.hasRole('ROLE_ADMIN') %}
                <li>
                    <a href="#" class="dropdown-toggle">Paramétrage</a>
                    <ul class="d-menu" data-role="dropdown">
                        <li><a href="{{ path('typeconsistance') }}">Types de consistances</a></li>
                        <li><a href="{{ path('unitedemesure') }}">Unités de mesure</a></li>
                        <li><a href="{{ path('libelleavenant') }}">Libellés de marchés</a></li>
                        <li><a href="{{ path('bloc') }}">Bloc</a></li>
                        <li><a href="{{ path('region') }}">Région</a></li>
                        <li><a href="{{ path('axe') }}">Axe</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{ path('users') }}">Gérer les utlisateurs</a>
                </li>
            {% endif %}

            <li class="place-right">
                <a href="#" class="dropdown-toogle">
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username | capitalize}, 'FOSUserBundle') }}
                </a>
                <ul class="d-menu align-left" data-role="dropdown">
                    <li><a href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
                    <li><a href="{{ path('fos_user_profile_edit') }}">Modifier mon profil</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
                </ul>
            </li>
        </ul>

        {% endif %}
        <!--- Fin Menu --->

        {% set flashNumber = 1 %}

        {% if app.session.flashbag | length > 0 %}
            <div>
                {% for key, message in app.session.flashbag() %}
                    <br>
                    <div class="flash-{{ key }} padding10" id="flash-{{ flashNumber }}">
                        <a href="#" class="closeFlash" flashId="flash-{{ flashNumber }}">
                            <span class="place-right mif-cross fg-grayLight"></span>
                        </a>
                        {{ message[0] | raw }}
                    </div>
                    {% set flashNumber = flashNumber + 1 %}
                {% endfor %}
            </div>
            <br>
        {% endif %}
        <div class="laiso-bordered bg-white padding10">
            <ul class="breadcrumbs dark bg-darkCyan">
                <li><a href="{{ path('laiso_arm_homepage') }}"><span class="icon mif-home"></span> Accueil</a></li>
                {% block breadcumbs %}{% endblock %}
            </ul>
            <div>
                {% block body %}

                {% endblock %}
            </div>
            <span class="clear-float"></span>
        </div>
    </div>

    <div class="bg-grayLighter grid laiso-bordered padding10 no-padding-bottom">
        <div class="bg-white laiso-bordered">
            {% block footer %}
                <div class="align-center">
                    <h6> &copy; ARM {{ "now"|date('Y') }}</h6>

                    <div class="align-center">
                        <small>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username | capitalize}, 'FOSUserBundle') }}
                                {{ app.user.hasRole('ROLE_CI') ? '(Bloc ' ~ app.user.bloc ~')' : '' }}
                                <br>
                                Rôles:
                                {% for role in app.user.roles %}
                                    {{ (role == 'ROLE_ARM' or role == 'ROLE_USER') ? '' : ('<span class="tag success">' ~ role ~'</span>') | raw }}
                                {% endfor %}
                                <br>
                                <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                                |
                                <a href="{{ path('fos_user_profile_edit') }}">Modifier mon profil</a>
                                |
                                <a href="{{ path('fos_user_change_password') }}">Changer mon mot de passe</a>
                            {% else %}
                                <a class="button primary"
                                   href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                            {% endif %}
                        </small>
                    </div>
                    <br>
                </div>
            {% endblock %}
            <div data-role="dialog" id="loader" class="padding20" data-overlay="true" data-windows-style="true"
                 data-overlay-color="op-dark">
                <div class="align-center container" id="loader-container">
                    <div data-role="preloader" data-type="metro" data-style="color"></div>
                    <h5>En cours de traitement ...</h5>
                </div>
            </div>

            <div data-role="dialog" id="dialog" class="padding20 no-padding-top" data-close-button="true"
                 data-windows-style="true" data-overlay="true" data-overlay-color="op-dark" data-overlay-click-close="true">
                <div class="container" id="dialog-container">

                </div>
            </div>

            <div data-role="dialog" id="confirm" class="padding20 no-padding-top" data-close-button="true"
                 data-windows-style="true" data-overlay="true" data-overlay-color="op-dark" data-overlay-click-close="true">
                <div class="container" id="dialog-container">
                    <h1>Vous êtes sur le point de valider les modifications. Confirmer?</h1>
                </div>
            </div>
        </div>
        <br>
        {% block javascripts %}
            <script language="JavaScript" type="text/javascript" src="{{ asset('public/scripts/jquery-2.1.3.min.js') }}"></script>
            <script language="JavaScript" type="text/javascript" src="{{ asset('public/scripts/jquery.dataTables.min.js') }}"></script>
            <script language="JavaScript" type="text/javascript" src="{{ asset('public/metro-ui/js/metro.min.js') }}"></script>
            <script language="JavaScript" type="text/javascript" src="{{ asset('public/scripts/select2.min.js') }}"></script>
            <script language="JavaScript" type="text/javascript" src="{{ asset('public/scripts/highcharts.js') }}"></script>
            <script language="JavaScript" type="text/javascript" src="{{ asset('public/scripts/jquery.mCustomScrollbar.min.js') }}"></script>
            <script language="JavaScript" type="text/javascript" src="{{ asset('public/scripts/functions.js') }}"></script>
            <script language="JavaScript" type="text/javascript" src="{{ asset('public/scripts/wizard.js') }}"></script>
        {% endblock %}
    </div>
</div>
</body>
</html>
