<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    {% block stylesheets %}
        <link rel="stylesheet" media="all" type="text/css" href="{{ asset('public/metro-ui/css/metro.min.css', absolute=true) }}">
        <link rel="stylesheet" media="all" type="text/css" href="{{ asset('public/metro-ui/css/metro-responsive.min.css', absolute=true) }}">
        <link rel="stylesheet" media="all" type="text/css" href="{{ asset('public/metro-ui/css/metro-rtl.min.css', absolute=true) }}">
        <link rel="stylesheet" media="all" type="text/css" href="{{ asset('public/metro-ui/css/metro-schemes.min.css', absolute=true) }}">
    {% endblock %}

</head>
<body zoom="2">

{% block body %}

{% endblock %}
</body>
</html>
