<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <title>{% block title %}ARM{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="{{ asset('public/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('public/font-awesome/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('public/ionicons/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('public/lte/css/AdminLTE.min.css') }}">
    <link rel="stylesheet" href="{{ asset('public/lte/css/skins/_all-skins.min.css') }}">

    <!--[if lt IE 9]>
    <script language="JavaScript" type="text/javascript" src="{{ asset('public/html5shiv/html5shiv.min.js') }}"></script>
    <script language="JavaScript" type="text/javascript" src="{{ asset('public/respond/respond.min.js') }}"></script>
    <![endif]-->
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header class="main-header">
        {% include ':includes:main-header.html.twig' %}
    </header>

    <aside class="main-sidebar">
        {% include ':includes:main-sidebar.html.twig' %}
    </aside>


    <div class="content-wrapper">
        <section class="content-header">
            <h1>{% block pageTitle %}{% endblock %}</h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('laiso_arm_homepage') }}"><i class="fa fa-dashboard"></i>Accueil</a></li>
                {% block breadcumbs %}{% endblock %}
            </ol>
        </section>

        <section class="content">
            {% block body %}{% endblock %}
        </section>
    </div>


    <footer class="main-footer">
        <strong>Copyright &copy; {{ date('now') | date('Y') }} - <a href="http://www.arm.mg">ARM</a>.</strong> Tous droits réservés.
    </footer>

    {% include ':includes:aside.html.twig' %}
</div>

<script>
    var AdminLTEOptions = {
        //Enable sidebar expand on hover effect for sidebar mini
        //This option is forced to true if both the fixed layout and sidebar mini
        //are used together
        sidebarExpandOnHover: true,
        //BoxRefresh Plugin
        enableBoxRefresh: true,
        //Bootstrap.js tooltip
        enableBSToppltip: true
    };
</script>

<script language="JavaScript" type="text/javascript" src="{{ asset('public/scripts/jquery-2.1.3.min.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('public/bootstrap/js/bootstrap.min.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('public/lte/js/app.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('public/plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ asset('public/plugins/fastclick/fastclick.min.js') }}"></script>

</body>
</html>
