<h1>Ajout de nouveau type de consistance</h1>
<br>
{{ form_start(form, {'attr':{
    'data-role': 'validator',
    'data-show-required-state': "false",
    'data-hint-mode': "line",
    'data-hint-background': "bg-red",
    'data-hint-color': "fg-white",
    'data-hide-error': "5000"
}}) }}
<div class="laiso-bordered padding10 grid">
    <div class="row cells3">
        <div class="cell colspan2">
            <strong>Nom du type de consistance</strong>

            <div class="fg-red">
                {{ form_errors(form.type) }}
            </div>
            <div class="input-control text full-size">
                {{ form_widget(form.type) }}
            </div>
        </div>
        <div class="cell">
            <strong>Abbréviation</strong>

            <div class="fg-red">
                {{ form_errors(form.abbrege) }}
            </div>
            <div class="input-control text full-size">
                {{ form_widget(form.abbrege) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}