<h4 class="align-center text-bold">
    {{ 'Attachement n°' | upper }} {{ entity.numero }}
    <br>
    <span class="text-light">AVANCE DE DEMARRAGE</span>
</h4>
{% set marche = entity.decompte.avenant.marche %}
{% set taux = marche.lotissement.campagne.tauxAvance %}

<div>
    <table class="table">
        <tr>
            <td colspan="2">Le montant hors taxe du marché est:</td>
            <td><span class="place-right text-bold">{{ marche.montant | separer }} Ar.</span></td>
        </tr>
        <tr>
            <td colspan="3">
                En application des dispositions de l’article 14 du CPS-CAP,<br>
                Le Montant de l’avance accordée au Titulaire est de {{ (taux | toLetter("pour cent", false)) | upper }} ({{ taux }}%) du montant du Marché :<br>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Soit</td>
            <td></td>
        </tr>
        <tr>
            <td></td> {% set avance = marche.montant * taux / 100 %}
            <td class="align-center text-bold">{{ marche.montant | separer }} Ar. x {{ taux }}% <span class="align-right">=</span></td>
            <td class="align-right text-bold">{{ avance | separer }} Ar.</td>
        </tr>
    </table>

    <div class="laiso-bordered bg-grayLighter padding10 text-bold align-center">
        Arrêté le présent attachement d'avance de démarrage à la somme de : {{ (avance | toLetter('ariary', false)) | upper }} (AR. {{ avance | separer }})
    </div>
</div>