<div class="align-center">
    <h4 class=" text-bold">ATTACHEMENT N° {{ entity.numero }}</h4><h5>REMBOURSEMENT D'AVANCE</h5>
</div>
<br><br>
<div style="width: 90%; margin: auto">
    <table class="table border bordered">
        <tr>
            <td width="70%">Le montant hors taxe de l'avance de démarrage est :</td>
            <td class="align-right text-bold">{{ avance | separer }} Ar.</td>
        </tr>

        <tr>
            <td>
                En application des dispositions de l’article 14 du CPS-CAP, <br>
                Le Montant du HTVA des travaux exécutés est de : <br>
            </td>
            <td class="align-right text-bold">{{ montant | separer }} Ar.</td>
        </tr>

        <tr>
            <td>
                Le Montant remboursement d'avance est de :
                <br>
                <span class=" place-right">{{ montant | separer }} x 20 % = </span>
            </td>
            <td class="align-right text-bold"><br>{{ (montant * 0.2) | separer }} Ar.</td>
        </tr>
        <tr>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                D'où le montant de restitution:
                {% set montant = (montant * 0.2 > avance) ? avance : montant * 0.2 %}
            </td>
            <td class="align-right text-bold text-accent">{{ montant | separer }}
                Ar.
            </td>
        </tr>
    </table>
    <br><br>
    Arrêté le présent attachement  de remboursement d'avance à la somme de : <br>
    <div class="laiso-bordered padding5 align-center bg-grayLighter">
        <strong>{{ (montant | toLetter('ariary', false)) | upper }} (AR {{ montant | separer }})</strong>.
    </div>

    <br><br><br>

    <table class="table">
        <tr>
            <td width="60%">
                Lu et accepté, <br>
                Le Titulaire
            </td>
            <td>
                {{ entity.decompte.avenant.marche.lotissement.bloc.siege | upper }}, le .................................................
                <br>
                Le Chargé d'Itinéraire, <br>
                Bloc n° {{ entity.decompte.avenant.marche.lotissement.bloc.numero }}
            </td>
        </tr>
    </table>
</div>
