<div class="align-center">
    <h4 class="text-bold">ATTACHEMENT N° {{ entity.numero }}</h4>
    <h5>RESTITUTION DE RETENUES DE GARANTIES</h5>
</div>

{% set tva = entity.decompte.avenant.marche.entrepriseAssujettie ? entity.decompte.avenant.marche.lotissement.campagne.tVA : 0 %}

<table class="table border bordered">
    <thead>
    <th style="text-align: center">ATTACHEMENT</th>
    <th style="text-align: center" width="20%">MONTANT HTVA</th>
    <th style="text-align: center" width="20%">TVA</th>
    </thead>

    {% set cumul = 0 %}

    {% for attachement in entity.attachements %}
        <tr>
            {% set cumul = cumul + attachement.montantHTVA %}
            <td style="border-bottom: none; border-top: none">Attachement n° {{ attachement.numero }} du <span class="place-right">{{ attachement.dateAttachement | localizeddate('long', 'none') }}</span></td>
            <td style="border-bottom: none; border-top: none" class="align-right">{{ cumul | separer }}</td>
            <td style="border-bottom: none; border-top: none" class="align-right">{{ (cumul * tva / 100) | separer }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td class="align-right text-bold text-accent" style="border-bottom: none; border-left: none">TOTAL</td>
        <td class="align-right text-bold text-accent">{{ cumul | separer }}</td>
        <td class="align-right text-bold text-accent">{{ (cumul * tva / 100) | separer }}</td>
    </tr>
</table>

<div class="padding20">
    Conformément à l'article 7 du CPS-CAP, le montant des retenues à restituer après la réception provisoire est de 100%
    de la retenue totale contre la presentation d'une caution sous forme de chèque de banque libellé au nom du Fonds
    d'Entretien Routier à hauteur de 50% de la retenue de garantie.Cette caution sera libérée à l'occasion de la Réception Définitive.
</div>
<table class="table">
    <tr>
        <td width="30%"></td>
        <td>SOIT:</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>MONTANT HTVA</td>
        <td class="align-right">{{ cumul | separer }}</td>
        <td>x 100</td>
        <td class="align-right text-bold">{{ cumul | separer }}</td>
    </tr>
    <tr>
        <td></td>
        <td>Montant du TVA correspondant</td>
        <td class="align-right">{{ (cumul * tva / 100) | separer }}</td>
        <td>x 100</td>
        <td class="align-right text-bold">{{ (cumul * tva / 100) | separer }}</td>
    </tr>
    <tr>
        <td></td>
        <td class="align-right text-bold text-accent">MONTANT TTC</td>

        <td colspan="3" class="align-right text-bold text-accent">{{ (cumul | tva(tva)) | separer }}</td>
    </tr>
</table>

<div class="padding20 text-accent">
    Arrêté le présent attachement à la somme de <strong>{{ ((cumul | tva(tva))  | toLetter('ariary', false)) | upper }} (Ar. {{ (cumul | tva(tva)) | separer }})</strong>
</div>