<h4 class="align-center text-bold">
    {{ 'Attachement n°' | upper }} {{ entity.numero }}
    {% if entity.type == "RETENUE" %}
        <br>
        <span class="text-light">(Retenue de garantie)</span>
    {% endif %}
</h4>
{% set cumul = 0 %}
    {% for consistance in entity.consistances %}
        <div class="align-center">
            <strong>{{ (entity.consistances | length > 1) ? loop.index : "" }}{{ consistance.libelle }}</strong>
        </div>
        <table class="table border bordered">
            <tr class="fg-darkTeal bg-grayLighter">
                <td>N° Prix</td>
                <td>Désignation des travaux</td>
                <td>Unité</td>
                <td>Quantité prévue</td>
                <td>Quantité antérieure</td>
                <td>Quantité du mois</td>
                <td>Quantité cumulée</td>
                <td>Prix Unitaire HTVA</td>
                <td>Montant HTVA</td>
            </tr>
            <tbody>
            {% set current = "" %}
            {% set cumulCategorie = 0 %}
            {% for ligne in consistance.lignes %}


                {# initialisations #}
                {% set quantite = ligne.quantite %}
                {% set quantiteInitiale = ligne.ligneDqe.quantite %}
                {% set quantiteAnterieure = ligne.quantiteAnterieure %}
                {% set prixUnitaire = ligne.ligneDqe.prix.prixUnitaire %}
                {% set serie = ligne.ligneDqe.prix.serie %}
                {# end initialisations #}

                {% if current != ligne.ligneDqe.prix.serie.categorie.designation %}
                    {% if loop.index > 1 %}
                        <tr>
                            <td></td>
                            <td colspan="6"><strong>SOUS-TOTAL</strong></td>
                            <td colspan="2" class="align-right"><strong>{{ cumulCategorie | separer }}</strong></td>
                        </tr>
                        {% set cumul = cumul + cumulCategorie %}{% set cumulCategorie = 0 %}
                    {% endif %}
                    <tr class="bg-grayLight">
                        <td><strong>{{ ligne.ligneDqe.prix.serie.categorie.numero }}</strong></td>
                        <td colspan="8"><strong>{{ serie.categorie.designation }}</strong></td>
                    </tr>
                    {% set current = serie.categorie.designation %}
                {% endif %}
                <tr>
                    <td>
                        <small>{{ serie.numero }}</small>
                    </td>
                    <td>
                        <small>{{ serie.designation }}</small>
                    </td>
                    <td class="align-center">
                        <small>{{ serie.unite.abbrege }}</small>
                    </td>
                    <td class="align-right">
                        <small>{{ quantiteInitiale | separer }}</small>
                    </td>
                    <td class="align-right">
                        <small>{{ quantiteAnterieure | separer }}</small>
                    </td>
                    {% if entity.valide or quantite + quantiteAnterieure >= quantiteInitiale %}
                        <td class="align-right">
                            <small>{{ ligne.quantite | separer }}</small>
                        </td>
                    {% else %}
                        <td class="align-right">
                            <form method="post"
                                  action="{{ path('updateQuantite', {'marcheId': entity.decompte.avenant.marche.id, 'decompteId': entity.decompte.id, 'attachementId': entity.id, 'ligneId': ligne.id}) }}">
                                <input name="form[quantite]" data-target="montant-{{ ligne.id }}" type="text"
                                       style="width: 100px; border: none; background-color: #dadada"
                                       class="padding5 align-right inlineEditor" value="{{ ligne.quantite | separer }}">
                            </form>
                        </td>
                    {% endif %}
                    <td class="align-right">
                        <small>{{ (quantite + quantiteAnterieure) | separer }}</small>
                    </td>
                    <td class="align-right">
                        <small>{{ prixUnitaire | separer }}</small>
                    </td>
                    <td class="align-right">
                        <small id="montant-{{ ligne.id }}">{{ ((quantite + quantiteAnterieure) * prixUnitaire) | separer }}</small>
                    </td>
                </tr>
                {% set cumulCategorie = cumulCategorie + ((quantite + quantiteAnterieure) * ligne.ligneDqe.prix.prixUnitaire) %}
                {% if loop.index == consistance.lignes | length %}
                    <tr>
                        <td></td>
                        <td colspan="6"><strong>SOUS-TOTAL</strong></td>
                        <td colspan="2" class="align-right"><strong>{{ cumulCategorie | separer }}</strong></td>
                    </tr>
                    {% set cumul = cumul + cumulCategorie %}{% set cumulCategorie = 0 %}
                {% endif %}
            {% endfor %}

            {% if loop.index == entity.consistances | length %}
                {% if entity.type == "RETENUE" %}
                    <table class="table">
                        <tr>
                            <td>
                                <small>Le montant cumulé hors taxe des travaux effectivement réalisé conformément à
                                    l'article 7.2 du CPS
                                </small>
                            </td>
                            <td colspan="2" class="align-right"><strong>Ar. {{ cumul | separer }}</strong></td>
                        </tr>

                        <tr>
                            <td>
                                <small>Conformément à l'article 7.2 du CPS, la retenue de garantie est fixée à 10% du
                                    montant des travaux effectivement réalisés, soit
                                </small>
                            </td>
                            <td class="align-right"><strong>Ar. {{ (cumul / 10) | separer }}</strong></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-bold">
                                Arrêté la présente retenue de garantie à la somme de : {{ ((cumul / 10) | toLetter('ariary', false)) | upper }}
                            </td>
                        </tr>
                    </table>
                {% else %}
                    <tr class="bg-grayLighter">
                        <td colspan="9"></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td colspan="6"><strong>TOTAL</strong></td>
                        <td colspan="2" class="align-right"><strong>{{ cumul | separer }}</strong></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="8">
                            <strong>
                                Arrêté le présent attachement à la somme de :
                                {{ (cumul | toLetter('ariary', false)) | upper }}
                                (Ar. {{ cumul | separer }})
                            </strong>
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
            </tbody>
        </table>
    {% endfor %}
<span class="clear-float"></span>
