{% set lotissement = marche.lotissement %}
{% set avts = marche.avenants %}
{% for consistance in consistances %}
    <div class="laiso-bordered padding10">
        <div class="align-center">
            {{ consistance.type }} de la {{ marche.lotissement.axe }} - Entre le PK {{ lotissement.pKDebut }} et le PK {{ lotissement.pKFin }} ({{ lotissement.localisation }})</h4>
            <br>
            <h4 class="text-bold">Lot n° {{ lotissement }}</h4>

            <h5>{{ consistance.description }}</h5>
            {% for localisation in consistance.localisations %}
                <small>Axe {{ lotissement.axe }} - Entre le PK {{ localisation.pKDebut }} et le PK {{ localisation.pKFin }} ({{ localisation.localisation }})</small> <br>
            {% endfor %}
        </div>
    </div>
    {% set lignes = consistance.lignes %}
    <table class="border bordered table">
        <tr class="fg-darkTeal bg-grayLighter">
            <td style="width: 7%;">Numéro</td>
            <td style="width: 33%;">Désignation</td>
            <td style="width: 10%;" class="align-center">Unité</td>
            <td style="width: 10%;" class="align-center">Prix Unitaire</td>
            {% for av in avts %}
                <td class="align-center" style="width: {{ 20 / (avts | length) }}%;">Quantité
                    <hr class="thin">
                    <small>{% if av.libelle.numero == 0 %}Marché initial{% else %}Avenant numéro {{ av.libelle.numero }}{% endif %}</small>
                </td>
                <td class="align-center" style="width: {{ 20 / (avts | length) }}%;">Montant
                    <hr class="thin">
                    <small>{% if av.libelle.numero == 0 %}Marché initial{% else %}Avenant numéro {{ av.libelle.numero }}{% endif %}</small>
                </td>
            {% endfor %}
        </tr>
        <tr>
            {% set current = "" %}
            {% for ligne in lignes %}
            {% set categorie = ligne.serie.categorie %}
            {% if current != categorie.designation %}
                <tr class="bg-grayLight">
                    <td><strong>{{ categorie.numero }}</strong></td>
                    <td colspan="{{ 3 + (marche.avenants | length) * 2 }}"><strong>{{ categorie.designation }}</strong></td>
                </tr>
                {% set current = categorie.designation %}
            {% endif %}
                <tr>
                    <td><small>{{ ligne.serie.numero }}</small></td>
                    <td><small>{{ ligne.serie.designation }}</small></td>
                    <td class="align-center"><small>{{ ligne.serie.unite.abbrege }}</small></td>
                    <td class="align-right"><small>{{ ligne.prixUnitaire | separer }}</small></td>
                    {% for i in 0 .. (avts | length - 1) %}
                        {% if ligne.avenants[i] is not null and ligne.avenants[i].numero == i %}
                            <td class="align-right"><small>{{ ligne.avenants[i].quantite | separer }}</small></td>
                            <td class="align-right"><small>{{ (ligne.avenants[i].quantite * ligne.prixUnitaire)|separer }}</small></td>
                        {% else %}
                            <td class="align-right">-</td>
                            <td class="align-right">-</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tr>
    </table>
{% endfor %}