{% extends '::base.html.twig' %}

{% block title %}Gestion des marchés{% endblock %}

{% block breadcumbs %}
    <li><a href="{{ path('marche') }}">Marchés</a></li>
{% endblock %}

{% block body -%}
    {% if entities | length == 0 %}
        <div class="laiso-bordered padding10 margin10 no-margin-bottom no-margin-right no-margin-left align-center bg-grayLighter">
            <h3>Aucun marché.</h3>

            <a class="ajax-button button primary" href="{{ path('marche_new') }}">
                Créer un nouveu marché
            </a>
        </div>
    {% else %}
        <table class="table border bordered">
            <thead>
            <tr>
                <th style="width: 25%; text-align: center">Numéro du marché</th>
                <th style="text-align: center">Objet</th>
                <th style="text-align: center; width: 10%;">Titulaire</th>
                <th style="width: 17%; text-align: center">Montant TTC</th>
                <th style="width: 20%; text-align: center">Remarques et actions</th>
            </tr>
            </thead>
            <tbody>

            {% set allowed = app.user.hasRole('ROLE_DTEC') %}
            {% set allowed = app.user.hasRole('ROLE_ASSIST') ? true : allowed %}

            {% for entity in entities %}
                {% set allowed = app.user.hasRole('ROLE_CI') ? entity.lotissement.bloc.localisation == app.user.bloc.localisation : allowed %}

                <tr>
                    <td>
                        {% if not allowed %}
                            <a href="#" class="fg-orange text-bold">
                                {{ entity }}  <span class="place-right mif-warning fg-orange"></span>
                            </a>
                            <hr class="thin">

                            <span class="place-right">Lot <a href="{{ path('dao_show', {'id' : entity.lotissement.id}) }}">{{ entity.lotissement.affichage }}</a></span>
                        {% else %}
                        <a class="text-bold" href="{{ path('marche_show', { 'id': entity.id }) }}">{{ entity }}</a>
                            <hr class="thin">
                            <span class="place-right">Lot <a href="{{ path('dao_show', {'id' : entity.lotissement.id}) }}">{{ entity.lotissement.affichage }}</a></span>
                        {% endif %}
                    </td>
                    <td>

                        {{ entity.lotissement.type }} de la {{ entity.lotissement.axe }} - Entre le PK {{ entity.lotissement.pKDebut }} et le
                        PK {{ entity.lotissement.pKFin }}
                        ({{ entity.lotissement.localisation }})
                    </td>
                    <td class="align-center">{{ entity.entreprise.denomination }}</td>
                    <td class="align-right">
                        {% set tva = entity.entrepriseAssujettie ? entity.lotissement.campagne.tVA : 0 %}
                        Ar. {{ (entity.montant | tva(tva)) | separer }}
                    </td>
                    <td class="align-center">
                        {% if not allowed %}
                            <small class="fg-orange">
                                Marché disponible uniquement dans le bloc {{ entity.lotissement.bloc }}.<br>
                            </small>
                        {% else %}
                            <a class="tag success" href="{{ path('avenant', {'marcheId': entity.id}) }}">{{ entity.avenants | length - 1 }} Avenant{{ entity.avenants | length > 2 ? "s" : "" }}</a>
                            <a class="tag success" href="{{ path('decompte', {'marcheId': entity.id}) }}"> {{ entity.decomptes }} Décompte{{ entity.decomptes > 1 ? "s" : "" }}</a>
                            <br>
                            {% if entity.avances | length > 0 %}
                                <a class="tag warning" href="{{ path('decompte_show', {'marcheId': entity.id, 'decompteId': 0}) }}">Avance de démarrage</a>
                                <br>
                            {% endif %}
                                {% if not entity.lotissement.puValide %}
                                    <small><span class="fg-orange">Prix unitaires non validés</span></small><br>
                                {% endif %}

                            <hr class="thin">
                            <a href="{{ path('marche_show', { 'id': entity.id }) }}">Détails</a>
                            {% if not entity.lotissement.valide %}
                                <a class="ajax-button"
                                   href="{{ path('marche_edit', { 'id': entity.id }) }}">Modifier</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include ('LaisoArmBundle:Shared:paginator.html.twig') %}
        <a class="ajax-button button primary" href="{{ path('marche_new') }}">
            Créer un nouveau marché
        </a>
    {% endif %}
{% endblock %}
