{% extends '::base.html.twig' %}

{% block title %}Gestion des marchés - Nouveau{% endblock %}

{% block breadcumbs %}
    <li><a href="{{ path('marche') }}">Marchés</a></li>
    <li><a href="{{ path('marche_new') }}">Créer</a></li>
{% endblock %}

{% block body -%}
    {% include ('@LaisoArm/Marche/includes/new_marche.html.twig') %}
    <a class="button primary" href="{{ path('marche') }}">
        Retourner à la liste des marchés
    </a>
{% endblock %}
