{% extends '::base.html.twig' %}

{% block title %}Gestion des marchés - Marché n° {{ entity }}{% endblock %}

{% block breadcumbs %}
    <li><a href="{{ path('marche') }}">Marché</a></li>
    <li><a href="{{ path('marche_show', {'id' : entity.id}) }}">Marché n° {{ entity }}</a></li>
{% endblock %}

{% block body -%}
    <table class="table border bordered condensed bg-white">
        <tbody>
        <tr>
            <th style="width: 25%" class="align-left">Numéro</th>
            <td class="">{{ entity }}</td>

        </tr>
        <tr>
            <th class="align-left">Financement</th>
            <td class="">{{ entity.lotissement.campagne.financement }}</td>
        </tr>
        <tr>
            <th class="align-left">Exercice</th>
            <td class="">{{ entity.lotissement.campagne.exercice }}</td>
        </tr>
        <tr>
            <th class="align-left">Objet</th>
            <td>
                {{ entity.lotissement.type }} de la {{ entity.lotissement.axe }} - Entre le PK {{ entity.lotissement.pKDebut }} et le
                PK {{ entity.lotissement.pKFin }}
                ({{ entity.lotissement.localisation }})
                <hr class="thin">
                <small><strong>Campagne : </strong> {{ entity.lotissement.campagne }}</small>
            </td>
        </tr>
        <tr>
            <th class="align-left">Titulaire</th>
            <td>
                <dl class="horizontal">
                    <dt>Entreprise</dt>
                    <dd>{{ entity.entreprise.denomination }} ({{ entity.entreprise.sigle }})</dd>

                    <dt>Adresse</dt>
                    <dd>{{ entity.entreprise.adresse }}</dd>

                    <dt>N° Statistique</dt>
                    <dd>{{ entity.entreprise.statistique }}</dd>

                    <dt>NIF</dt>
                    <dd>{{ entity.entreprise.nIF }}</dd>

                    <dt>Contacts</dt>
                    <dd>{{ entity.entreprise.telephone1 }} - {{ entity.entreprise.telephone2 }}</dd>

                    <dt>E-mail</dt>
                    <dd>{{ entity.entreprise.email }}</dd>
                </dl>
            </td>
        </tr>
        <tr>
            <th class="align-left">Délai d'exécution</th>
            <td class="">{{ entity.lotissement.delai }} mois</td>
        </tr>
        <tr>
            <th class="align-left">Montant HT</th>
            <td class="text-accent text-bold">Ar. {{ entity.montantInitial | separer }}</td>
        </tr>
        {% set tva = entity.entrepriseAssujettie ? entity.lotissement.campagne.tVA : 0 %}
        <tr>
            <th class="align-left">TVA <span class="place-right tag primary">({{ tva }}%)</span></th>
            <td class="text-accent text-bold">Ar. {{ (entity.montantInitial * tva / 100) | separer }}</td>
        </tr>
        {% if tva > 0 %}
            <tr>
                <th class="align-left">Montant TTC</th>
                <td class="text-bold text-accent">Ar. {{ (entity.montantInitial | tva(tva)) | separer }}</td>
            </tr>
        {% endif %}
        <tr>
            <th class="align-left">Avenants</th>
            <td>
                <a class="fg-black" href="{{ path('avenant', {'marcheId': entity.id}) }}">{{ entity.avenants | length - 1 }}
                    avenant{{ ((entity.avenants | length - 1) > 1 ) ? "s" : "" }}.</a>
                <small class="fg-gray place-right">{{ entity.avenants[(entity.avenants | length) - 1].libelle.libelle }}</small>
            </td>
        </tr>
        <tr>
            <th class="align-left">Décomptes</th>
            <td>
                <span class="fg-black tag primary">
                    {% set nbDp = 0 %}
                    {% for avenant in entity.avenants %}
                        {% set nbDp = nbDp + avenant.decomptes | length %}
                    {% endfor %}
                    {{ nbDp }} décompte{{ nbDp > 0 ? "s" :"" }} provisoire{{ nbDp > 0 ? "s" :"" }}.
                </span>

                {% if entity.avances | length > 0 %}
                    <span class="tag primary">Avance de démarrage</span>
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    {#<a class="button primary ajax-button place-right" href="{{ path('marche_edit', { 'id': entity.id }) }}">
        Modifier
    </a>#}

    {% set avenant = entity.avenants[0] %}

    <div>
        <table class="table border bordered">
            <tbody>
            <tr>
                <th style="width: 25%;">Délai</th>
                <td>{{ (avenant.delai | toLetter('mois', false)) | upper }}</td>
            </tr>
            <tr>
                <th>Date de VISA</th>
                <td>
                    {% if avenant.dateVisa %}{{ avenant.dateVisa|localizeddate('long', 'none') }}{% endif %}
                </td>
            </tr>
            <tr>
                <th>Date de signature de l'entreprise</th>
                <td>
                    {% if avenant.dateSignatureEntreprise %}{{ avenant.dateSignatureEntreprise|localizeddate('long', 'none') }}{% endif %}
                </td>
            </tr>
            <tr>
                <th>Date de signature de l'ARM</th>
                <td>
                    {% if avenant.dateSignatureArm %}{{ avenant.dateSignatureArm|localizeddate('long', 'none') }}{% endif %}
                </td>
            </tr>
            <tr>
                <th>Date OS de notification</th>
                <td>
                    {% if avenant.dateOsNotification %}{{ avenant.dateOsNotification|localizeddate('long', 'none') }}{% endif %}
                </td>
            </tr>
            <tr>
                <th>Date OS de démarrage</th>
                <td>
                    {% if avenant.dateOsDemarrage %}{{ avenant.dateOsDemarrage|localizeddate('long', 'none') }}{% endif %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <a class="button primary ajax-button"
       href="{{ path('avenant_edit', { 'numero': avenant.libelle.numero, 'marcheId': avenant.marche.id }) }}">
        Modifier les dates
    </a>

    {% if not entity.lotissement.puValide %}
        <a class="button warning" href="{{ path('avenant_show', {'numero': 0, 'marcheId': entity.id}) }}">Remplir les prix unitaires</a>
    {% endif %}
    <a class="button primary" href="{{ path('avenant', {'marcheId': entity.id}) }}">
        Liste des avenants du marché {{ entity.numero }}
    </a>
    <a class="button primary" href="{{ path('decompte', {'marcheId': entity.id}) }}">
        Décomptes provisoires du marché {{ entity.numero }}
    </a>
{% endblock %}
