{% extends '::base.html.twig' %}

{% block title %}Appel d'offre - Lot n° {{ entity }}{% endblock %}

{% block breadcumbs %}
    <li><a href="{{ path('dao') }}">Dossier d'appel d'offre</a></li>
    <li><a href="{{ path('dao_show', {'id': entity.id}) }}">Lot n° {{ entity }}</a></li>
    <li><a href="#">Modifier</a></li>
{% endblock %}
{% block body -%}
    {% set page = 'native' %}
    {% include '@LaisoArm/Lotissement/includes/edit_lotissement.html.twig' %}
    {{ form(delete_form) }}
    <a class="button primary" href="{{ path('dao') }}">
        Retourner à la liste des appels d'offre
    </a>
{% endblock %}
