{% extends '::base.html.twig' %}

{% block title %}Dossier d'appels d'offre{% endblock %}

{% block breadcumbs %}
    <li><a href="{{ path('dao') }}">Dossier d'appel d'offre</a></li>
{% endblock %}
{% block body -%}
    {% if entities | length > 0 %}

        {% set lotissements = entities %}
        {% include ('@LaisoArm/Lotissement/includes/list_lotissement.html.twig') %}

        {% include ('LaisoArmBundle:Shared:paginator.html.twig') %}

        <a class="ajax-button button primary" href="{{ path('dao_new') }}">
            Créer un nouvel appel d'offre
        </a>
    {% else %}
        <div class="laiso-bordered margin10 no-margin-left no-margin-right no-margin-bottom padding10 align-center bg-grayLighter">
            <h3>Aucun appel d'offre.</h3>

            <a class="ajax-button button primary" href="{{ path('dao_new') }}">
                Créer un nouvel appel d'offre
            </a>
        </div>
    {% endif %}
{% endblock %}
