{% extends '::base.html.twig' %}

{% block title %}Nouvel appel d'offre{% endblock %}

{% block breadcumbs %}
    <li><a href="{{ path('dao') }}">Dossier d'appel d'offre</a></li>
    <li><a href="{{ path('dao_new') }}">Nouvel appel d'offre</a></li>
{% endblock %}

{% block body -%}
    {% set page = 'native' %}
    {% include '@LaisoArm/Lotissement/includes/new_lotissement.html.twig' %}
    <span class="clear-float"></span>
{% endblock %}
