<h1>Nouvelle intervention</h1>

{{ form_start(form, {'attr':{
    'data-role': 'validator',
    'data-show-required-state': "false",
    'data-hint-mode': "line",
    'data-hint-background': "bg-red",
    'data-hint-color': "fg-white",
    'data-hide-error': "5000"
}}) }}

<div class="grid">
    <div class="row">
        <fieldset class="laiso-bordered">
            <legend class="text-bold text-accent">Intervenant</legend>
            <div class="fg-red">
                {{ form_errors(form.intervenant) }}
            </div>

            <div class="input-control full-size" data-role="select">
                {{ form_widget(form.intervenant) }}
            </div>
        </fieldset>
    </div>
    <div class="row cells2">
        <div class="cell">
            <fieldset class="laiso-bordered">
                <legend class="text-bold text-accent">Entrée</legend>
                <div class="row cells3 padding10">
                    <div class="cell">
                        <strong>Date</strong>

                        <div class="fg-red">
                            {{ form_errors(form.dateEntree) }}
                        </div>

                        <div class="input-control full-size" data-role="datepicker" data-format="dd/mm/yyyy">
                            {{ form_widget(form.dateEntree) }}
                        </div>
                    </div>

                    <div class="cell colspan2">
                        <strong>Lieu</strong>

                        <div class="fg-red">
                            {{ form_errors(form.lieuEntree) }}
                        </div>

                        <div class="input-control full-size">
                            {{ form_widget(form.lieuEntree) }}
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="cell">
            <fieldset class="laiso-bordered">
                <legend class="text-bold text-accent">Sortie</legend>
                <div class="row cells3 padding10">
                    <div class="cell">
                        <strong>Date</strong>

                        <div class="fg-red">
                            {{ form_errors(form.dateSortie) }}
                        </div>

                        <div class="input-control full-size" data-role="datepicker" data-format="dd/mm/yyyy">
                            {{ form_widget(form.dateSortie) }}
                        </div>
                    </div>

                    <div class="cell colspan2">
                        <strong>Lieu</strong>

                        <div class="fg-red">
                            {{ form_errors(form.lieuSortie) }}
                        </div>

                        <div class="input-control full-size">
                            {{ form_widget(form.lieuSortie) }}
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <fieldset class="laiso-bordered">
            <legend class="text-bold text-accent">Observation</legend>
            <div class="fg-red">
                {{ form_errors(form.observation) }}
            </div>

            <div class="input-control textarea full-size">
                {{ form_widget(form.observation) }}
            </div>
        </fieldset>
    </div>
</div>
{{ form_end(form) }}