{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
<div class="login-form padding20 block-shadow1">
    <h1 class="text-light">Inscription</h1>
    <hr class="thin">
    <div class="grid">
        <div class='row'>
            <div class="cells2">
                <div class='cell'>
                    <strong>Adresse e-mail</strong>
                    <small class="fg-orange">{{ form_errors(form.email) }}</small>
                    <div class="input-control email full-size">
                        {{ form_widget(form.email) }}
                    </div>
                </div>
                <div class='cell'>
                <strong>Nom d'utilisateur</strong>
                    <small class="fg-orange">{{ form_errors(form.username) }}</small>
                    <div class="input-control email full-size">
                        {{ form_widget(form.username) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <strong>Nom</strong>
    <small class="fg-orange">{{ form_errors(form.nom) }}</small>
    <div class="input-control text full-size">
        {{ form_widget(form.nom) }}
    </div>
    <br>
     <strong>Prénom(s)</strong>
    <small class="fg-orange">{{ form_errors(form.prenom) }}</small>
    <div class="input-control text full-size">
        {{ form_widget(form.prenom) }}
    </div>
    <br>
     <strong>Bloc</strong>
    <small class="fg-orange">{{ form_errors(form.bloc) }}</small>
    <div class="input-control select full-size" data-role="select">
        {{ form_widget(form.bloc) }}
    </div>
    <br>
    <strong>Mot de passe</strong>
    <small class="fg-orange">{{ form_errors(form.plainPassword['first']) }}</small>
    <div class="input-control password full-size" data-role="input">
        {{ form_widget(form.plainPassword['first']) }}
        <button class="button helper-button reveal"><span class="mif-looks"></span></button>
    </div>
    <br>
    <strong>Confirmer le mot de passe</strong>
    <small class="fg-orange">{{ form_errors(form.plainPassword['second']) }}</small>
    <div class="input-control password full-size" data-role="input">
        {{ form_widget(form.plainPassword['second']) }}
        <button class="button helper-button reveal"><span class="mif-looks"></span></button>
    </div>
    <div>
        <input type="submit" class="button primary place-right" value="S'inscrire"/>
    </div>
    <span class="clear-float"></span>
</div>
{{ form_end(form) }}