<h1>Modification de marché</h1>
<br>
{{ form_start(edit_form) }}
<div class="laiso-bordered padding10 grid">
    <div class="laiso-bordered padding10 grid">
        <div class="row cells5">
            <div class="cell">
                <strong>Lot</strong>

                <div class="fg-red">
                    {{ form_errors(edit_form.lotissement) }}
                </div>

                <div class="input-control select full-size" data-role="select">
                    {{ form_widget(edit_form.lotissement) }}
                </div>
            </div>
            <div class="cell">
                <strong>Numéro</strong>

                <div class="fg-red">
                    {{ form_errors(edit_form.numero) }}
                </div>

                <div class="input-control number full-size">
                    {{ form_widget(edit_form.numero) }}
                </div>
            </div>
            <div class="cell colspan2">
                <strong>Entreprise</strong>

                <div class="fg-red">
                    {{ form_errors(edit_form.entreprise) }}
                </div>

                <div class="input-control select full-size" data-role="select">
                    {{ form_widget(edit_form.entreprise) }}
                </div>
            </div>
            <div class="cell"><br>
                <label class="input-control checkbox">
                    {{ form_widget(edit_form.entrepriseAssujettie) }}
                    <span class="check"></span>
                    <span class="caption">Assujetti à la TVA</span>
                </label>
            </div>
        </div>
    </div>
</div>
{{ form_end(edit_form) }}