<h1>Validation de nouveau marché</h1>
<br>
{{ form_start(form) }}
    <div class="laiso-bordered padding10 grid">
        <div class="row cells4">
            <div class="cell">
                <strong>Lot</strong>

                <div class="fg-red">
                    {{ form_errors(form.lotissement) }}
                </div>

                <div class="input-control select full-size" data-role="select">
                    {{ form_widget(form.lotissement) }}
                </div>
            </div>
            <div class="cell">
                <strong>Numéro</strong>

                <div class="fg-red">
                    {{ form_errors(form.numero) }}
                </div>

                <div class="input-control number full-size">
                    {{ form_widget(form.numero) }}
                </div>
            </div>
            <div class="cell colspan">
                <strong>Entreprise</strong>

                <div class="fg-red">
                    {{ form_errors(form.entreprise) }}
                </div>

                <div class="input-control select full-size" data-role="select">
                    {{ form_widget(form.entreprise) }}
                </div>
            </div>
            <div class="cell"><br>
                <label class="input-control checkbox">
                    {{ form_widget(form.entrepriseAssujettie) }}
                    <span class="check"></span>
                    <span class="caption">Assujetti à la TVA</span>
                </label>
            </div>
        </div>
    </div>
{{ form_end(form) }}