{% extends '::base.html.twig' %}

{% block title %}Administration - Modifier la  Campagne {{ entity }}{% endblock %}

{% block breadcumbs %}
    <li><a href="#">Administration</a></li>
    <li><a href="{{ path('campagne') }}">Campagne</a></li>
    <li><a href="{{ path('campagne_edit', {'id': entity.id}) }}">Modifier</a></li>
{% endblock %}

{% block body -%}
{% include ('@LaisoArm/Campagne/includes/edit_campagne.html.twig') %}
    {{ form(delete_form) }}
    <a class="button primary" href="{{ path('campagne') }}">
        Retourner à la liste des campagnes
    </a>
{% endblock %}
