{% extends '::base.html.twig' %}

{% block title %}Administration - Campagnes{% endblock %}

{% block breadcumbs %}
    <li><a href="#">Administration</a></li>
    <li><a href="{{ path('campagne') }}">Campagne</a></li>
{% endblock %}

{% block body -%}
    {% if entities |length>0 %}
        <table class="table border bordered">
            <thead>
            <tr>
                <th>Exercice</th>
                <th>Financement</th>
                <th style="width: 10%;">TVA</th>
                <th>Numérotation</th>
                <th style="width: 20%;">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.exercice }}</td>
                    <td>{{ entity.financement }}</td>
                    <td class="align-center">{{ entity.tVA }} %</td>
                    <td class="align-center">{{ entity.numerotation }}</td>
                    <td class="align-center">
                        <a href="{{ path('campagne_show', { 'id': entity.id }) }}">Détail</a>
                        <a class="ajax-button" href="{{ path('campagne_edit', { 'id': entity.id }) }}">Modifer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include ('LaisoArmBundle:Shared:paginator.html.twig') %}
        <a class="button primary ajax-button" href="{{ path('campagne_new') }}">
            Créer une nouvelle campagne
        </a>

        {% else %}
        <div class="laiso-bordered margin10 no-margin-left no-margin-right no-margin-bottom padding10 align-center">
            <h3 class="text-light">Aucune campagne trouvée.</h3>
            <a class="button primary ajax-button" href="{{ path('campagne_new') }}">
                Créer une nouvelle campagne
            </a>
        </div>
    {% endif %}
{% endblock %}
