{% extends '::base.html.twig' %}

{% block title %}Administration - Nouvelle Campagne{% endblock %}

{% block breadcumbs %}
    <li><a href="#">Administration</a></li>
    <li><a href="{{ path('campagne') }}">Campagne</a></li>
    <li><a href="{{ path('campagne_new') }}">Créer</a></li>
{% endblock %}
{% block body -%}
    {% include ('@LaisoArm/Campagne/includes/new_campagne.html.twig') %}
    <a class="button primary" href="{{ path('campagne') }}">
        Retourner à la liste des campagnes
    </a>
{% endblock %}
