{% extends '::base.html.twig' %}

{% block title %}Administration - Campagne {{ entity }}{% endblock %}

{% block breadcumbs %}
    <li><a href="#">Administration</a></li>
    <li><a href="{{ path('campagne') }}">Campagne</a></li>
    <li><a href="{{ path('campagne_show', {'id': entity.id}) }}">Campagne {{ entity.exercice }}</a></li>
{% endblock %}

{% block body -%}
    <table class="table border bordered">
        <tbody>
        <tr>
            <th style="width: 20%">Exercice</th>
            <td>{{ entity.exercice }}</td>
        </tr>
        <tr>
            <th>Gestion</th>
            <td>{{ entity.gestion }}</td>
        </tr>
        <tr>
            <th>Financement</th>
            <td>{{ entity.financement }} ({{ entity.financementAbbr }})</td>
        </tr>
        <tr>
            <th>TVA</th>
            <td>{{ entity.tVA }}%</td>
        </tr>
        <tr>
            <th>Numérotation des marchés</th>
            <td>{{ entity.numerotation }}</td>
        </tr>
        <tr>
            <th>Taux de l'avance de démarrage</th>
            <td>{{ entity.tauxAvance }}%</td>
        </tr>
        <tr>
            <th>Plafond des pénalisations</th>
            <td>{{ entity.plafondPenalite }}% du montant hors taxe du marché.</td>
        </tr>
        <tr>
            <th>Taux de la pénalisation du retard</th>
            <td>1/{{ entity.penaliteRetardJour }} par jour de retard.</td>
        </tr>
        </tbody>
    </table>

    <a class="button primary" href="{{ path('campagne') }}">
        Retourner à la liste des campagnes
    </a>

    <a class="button success place-right ajax-button" href="{{ path('campagne_edit', { 'id': entity.id }) }}">
        Modifier
    </a>

{% endblock %}
