{% extends "FOSUserBundle::login.html.twig" %}

{% block breadcumbs %}
    <li><a href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
    <li><a href="{{ path('fos_user_change_password') }}">Modifier mon mot de passe</a></li>
{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}
