
<h4 class="text-bold align-center padding10 bg-grayLight">{% if final %}DECOMPTE GENERAL ET DEFINITIF{% else %}DECOMPTE PROVISOIRE N° {{ entity.numero }}{% endif %}</h4>

<p class="text-accent">DES OUVRAGES EXECUTES ET DES DEPENSES FAITES A LA DATE DU:
    <span class="place-right">{{ entity.dateDecompte | localizeddate('long', 'none') }}</span></p>
<span class="clear-float"></span>

<table class="table bordered border">
    <tr class="align-center text-bold bg-grayLighter">
        <td rowspan="2" colspan="2">DESIGNATION DES OUVRAGES</td>
        <td colspan="2">DEPENSES</td>
    </tr>
    <tr class="align-center text-bold bg-grayLighter">
        <td>PARTIELLES</td>
        <td>CUMULEES</td>
    </tr>
    {% if wNonTermines | length > 0 %}
        <tr>
            <td colspan="2" style="border-bottom: none; border-top: none">
                <strong class="line">TRAVAUX NON TERMINES</strong>
            </td>
            <td style="border-bottom: none; border-top: none"></td>
            <td style="border-bottom: none; border-top: none"></td>
        </tr>
        {% set cumul = 0 %}
        {% for attachement in wNonTermines %}
            {% set cumul = cumul + attachement.montantHTVA %}
            {% include 'LaisoArmBundle:Decompte/print:row.html.twig' %}
        {% endfor %}
    {% endif %}

    {% if wTermines | length > 0 %}
        <tr>
            <td colspan="2" style="border-bottom: none; border-top: none">
                <strong class="line">TRAVAUX TERMINES</strong>
            </td>
            <td style="border-bottom: none; border-top: none"></td>
            <td style="border-bottom: none; border-top: none"></td>
        </tr>
        {% set cumul = 0 %}
        {% for attachement in wTermines %}
            {% set cumul = cumul + attachement.montantHTVA %}
            {% include 'LaisoArmBundle:Decompte/print:row.html.twig' %}
        {% endfor %}
    {% endif %}

    {% if retenues | length > 0 %}
        <tr>
            <td colspan="2" style="border-bottom: none; border-top: none">
                <strong class="line">RETENUES DE GARANTIES</strong>
            </td>
            <td style="border-bottom: none; border-top: none"></td>
            <td style="border-bottom: none; border-top: none"></td>
        </tr>
        {% set cumul = 0 %}
        {% for attachement in retenues %}
            {% set cumul = cumul + attachement.montantHTVA %}
            {% include 'LaisoArmBundle:Decompte/print:row.html.twig' %}
        {% endfor %}
    {% endif %}

    {% if restitutions | length > 0 %}
        <tr>
            <td colspan="2" style="border-bottom: none; border-top: none">
                <strong class="line">RESTITUTIONS DE RETENUES DE GARANTIES</strong>
            </td>
            <td style="border-bottom: none; border-top: none"></td>
            <td style="border-bottom: none; border-top: none"></td>
        </tr>
        {% set cumul = 0 %}
        {% for attachement in restitutions %}
            {% set cumul = cumul + attachement.montantHTVA %}
            {% include 'LaisoArmBundle:Decompte/print:row.html.twig' %}
        {% endfor %}
    {% endif %}

    {% if avance is not null %}
        <tr>
            <td colspan="2" style="border-bottom: none; border-top: none">
                <strong class="line">AVANCE DE DEMARRAGE</strong>
            </td>
            <td style="border-bottom: none; border-top: none"></td>
            <td style="border-bottom: none; border-top: none"></td>
        </tr>
        {% set cumul = 0 %}
        {% set attachement = avance %}
        {% set cumul = cumul + attachement.montantHTVA %}
        {% include 'LaisoArmBundle:Decompte/print:row.html.twig' %}
    {% endif %}

    {% if remboursements | length > 0 %}
        <tr>
            <td colspan="2" style="border-bottom: none; border-top: none">
                <strong class="line">REMBOURSEMENT D'AVANCE</strong>
            </td>
            <td style="border-bottom: none; border-top: none"></td>
            <td style="border-bottom: none; border-top: none"></td>
        </tr>
        {% set cumul = 0 %}
        {% for attachement in remboursements %}
            {% set cumul = cumul + attachement.montantHTVA %}
            {% include 'LaisoArmBundle:Decompte/print:row.html.twig' %}
        {% endfor %}
    {% endif %}

</table>