<tr>
    <td style="border-bottom: none; border-top: none"></td>
    <td style="border-bottom: none; border-top: none">Attachement n° {{ attachement.numero }} du <span class="place-right">{{ attachement.dateAttachement | localizeddate('long', 'none') }}</span></td>
    <td style="border-bottom: none; border-top: none; text-align: right; font-weight: bold"> {{ attachement.montantHTVA | separer }}</td>
    <td style="border-bottom: none; border-top: none; text-align: right; font-weight: bold"> {{ cumul | separer }}</td>
</tr>
