<h4 class="text-bold align-center padding10 bg-grayLight">DECOMPTE PROVISOIRE N° 00</h4>

<p class="text-accent">DES OUVRAGES EXECUTES ET DES DEPENSES FAITES A LA DATE DU:
    <span class="place-right">{{ entity.dateDecompte | localizeddate('long', 'none') }}</span></p>
<span class="clear-float"></span>

<table class="table bordered border">
    <tr class="align-center text-bold bg-grayLighter">
        <td rowspan="2" colspan="2">DESIGNATION DES OUVRAGES</td>
        <td colspan="2">DEPENSES</td>
    </tr>
    <tr class="align-center text-bold bg-grayLighter">
        <td>PARTIELLES</td>
        <td>CUMULEES</td>
    </tr>

    <tr>
        <td colspan="2" style="border-bottom: none; border-top: none">
            <strong class="line">AVANCE DE DEMARRAGE</strong>
        </td>
        <td style="border-bottom: none; border-top: none"></td>
        <td style="border-bottom: none; border-top: none"></td>
    </tr>
    {% for attachement in entity.attachements %}
        <tr>
            <td style="border-bottom: none; border-top: none"></td>
            <td style="border-bottom: none; border-top: none">Attachement n° {{ attachement.numero }} du <span class="place-right">{{ attachement.dateAttachement | localizeddate('long', 'none') }}</span></td>
            <td style="border-bottom: none; border-top: none; text-align: right; font-weight: bold"> {{ attachement.montantHTVA | separer }}</td>
            <td style="border-bottom: none; border-top: none; text-align: right; font-weight: bold"> {{ attachement.montantHTVA | separer }}</td>
        </tr>
    {% endfor %}

    {% for i in 0..2 %}
        <tr>
            <td colspan="2" style="border-bottom: none; border-top: none">

            </td>
            <td style="border-bottom: none; border-top: none"></td>
            <td style="border-bottom: none; border-top: none"></td>
        </tr>
    {% endfor %}
</table>
