{% extends '::base.html.twig' %}

{% block body -%}
    {% include('@LaisoArm/LigneSuivi/includes/edit_ligneSuivi.html.twig') %}

    <a class="button primary" href="{{ path('suivi', {'decompteId' : entity.decompte.id, 'marcheId': entity.decompte.avenant.marche.id}) }}">
        Retourner à la fiche de suivi
    </a>
{% endblock %}
