{% extends '::base.html.twig' %}

{% block title %}Fiche de suivi du Décompte{% endblock %}

{% block breadcumbs %}
    <li>
        <a href="{{ path('marche_show', {'id': decompte.avenant.marche.id}) }}">Marché {{ decompte.avenant.marche }}</a>
    </li>
    <li><a href="{{ path('decompte', {'marcheId': decompte.avenant.marche.id}) }}">Décomptes</a></li>
    <li><a href="{{ path('decompte_show', {'marcheId': decompte.avenant.marche.id, 'decompteId': decompte.id }) }}">Décompte
            n° {{ decompte.numero }} du {{ decompte.dateDecompte | localizeddate('long', 'none') }}</a></li>
    <li><a href="{{ path('suivi', {'marcheId': decompte.avenant.marche.id, 'decompteId': decompte.id }) }}">Fiche de
            suivi</a></li>
{% endblock %}

{% block body -%}
    {% if entities %}
        <div class="grid">
            {% for entity in entities %}
                <div class="row cells12" style="border: dashed 1px grey">
                    <div class="cell align-center">
                        <h1>{{ entity.numero }}</h1>
                    </div>
                    <div class="cell colspan11 padding10 no-padding-top no-padding-right no-padding-bottom"
                         style="border-left: solid 3px grey">
                        <a class="ajax-button place-right"
                           href="{{ path('suivi_edit', { 'id': entity.id, 'marcheId': entity.decompte.avenant.marche.id, 'decompteId': entity.decompte.id }) }}"><span class="mif-pencil" data-role="hint" data-hint="Modifier|Modifier cette intervention" data-hint-color="fg-white" data-hint-background="bg-darkTeal" data-hint-position="left"></span></a>

                        <h4 class="no-margin-top"><strong>{{ entity.intervenant.nom }}</strong>
                            <small>{{ entity.intervenant.fonction }}</small>
                        </h4>
                        <hr class="thin">
                        <div class="row cells4">
                            <div class="cell">
                                <strong>Entrée
                                    :</strong> {{ entity.lieuEntree }} {% if entity.dateEntree %}, {{ entity.dateEntree|localizeddate('long', 'none') }}{% endif %}
                            </div>
                            <div class="cell">
                                <strong>Sortie
                                    :</strong> {{ entity.lieuSortie }} {% if entity.dateSortie %}, {{ entity.dateSortie|localizeddate('long', 'none') }}{% endif %}
                            </div>
                            <div class="cell colspan2">
                                {{ entity.observation }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <a class="button primary ajax-button"
           href="{{ path('suivi_new', {'marcheId': decompte.avenant.marche.id, 'decompteId': decompte.id}) }}">
            Ajouter une nouvelle ligne
        </a>
        <a class="button primary ajax-button"
           href="{{ path('intervenant_new', {'returnUrl' : app.request.requestUri}) }}">
            Ajouter un intervenant
        </a>

    {% else %}
        <div class="laiso-bordered padding10 align-center margin10 no-margin-left no-margin-right no-margin-bottom">
            <h3>Aucune ligne</h3>
            <hr class="thin" width="65%">
            <a class="button primary ajax-button"
               href="{{ path('suivi_new', {'marcheId': decompte.avenant.marche.id, 'decompteId': decompte.id}) }}">
                Ajouter une nouvelle ligne
            </a>
            <a class="button primary ajax-button"
               href="{{ path('intervenant_new', {'returnUrl' : app.request.requestUri}) }}">
                Ajouter un intervenant
            </a>
        </div>
    {% endif %}
{% endblock %}
