{% extends '::base.html.twig' %}

{% block body -%}

{% include ('@LaisoArm/LigneSuivi/includes/new_ligneSuivi.html.twig') %}

    <a class="button primary"
       href="{{ path('suivi', {'decompteId': entity.decompte.id, 'marcheId': entity.decompte.avenant.marche.id}) }}">
        Retourner à la liste
    </a>

{% endblock %}
