{% extends '::base.html.twig' %}

{% block body -%}
    <h1>LigneSuivi</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Lieuentree</th>
                <td>{{ entity.lieuEntree }}</td>
            </tr>
            <tr>
                <th>Lieusortie</th>
                <td>{{ entity.lieuSortie }}</td>
            </tr>
            <tr>
                <th>Dateentree</th>
                <td>{{ entity.dateEntree|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Datesortie</th>
                <td>{{ entity.dateSortie|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Observation</th>
                <td>{{ entity.observation }}</td>
            </tr>
            <tr>
                <th>Valide</th>
                <td>{{ entity.valide }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('suivi') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('suivi_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
