<h1>Modification de site</h1>

{{ form_start(edit_form, {'attr':{
    'data-role': 'validator',
    'data-show-required-state': "false",
    'data-hint-mode': "line",
    'data-hint-background': "bg-red",
    'data-hint-color': "fg-white",
    'data-hide-error': "5000"
}}) }}
<div class="grid laiso-bordered padding10">
    <div style="display: none;">
        <strong>Consistance</strong>

        <div class="fg-red">
            {{ form_errors(edit_form.consistance) }}
        </div>

        <div class="input-control select full-size">
            {{ form_widget(edit_form.consistance) }}
        </div>
    </div>
    <br>
    <div class="row cells4">
        <div class="cell">
            <strong>PK Début</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.pKDebut) }}
            </div>

            <div class="input-control number full-size">
                {{ form_widget(edit_form.pKDebut) }}
                <span class="input-state-error mif-warning"></span>
                <span class="input-state-success mif-checkmark"></span>
            </div>
        </div>

        <div class="cell">
            <strong>PK Fin</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.pKFin) }}
            </div>

            <div class="input-control number full-size">
                {{ form_widget(edit_form.pKFin) }}
                <span class="input-state-error mif-warning"></span>
                <span class="input-state-success mif-checkmark"></span>
            </div>
        </div>

        <div class="cell colspan2">
            <strong>Localisation</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.localisation) }}
            </div>

            <div class="input-control text full-size">
                {{ form_widget(edit_form.localisation) }}
                <span class="input-state-error mif-warning"></span>
                <span class="input-state-success mif-checkmark"></span>
            </div>
        </div>

    </div>
</div>

{{ form_end(edit_form) }}