{% extends '::base.html.twig' %}

{% block title %}Remplir le prix unitaire{% endblock %}

{% block body %}
    {% include ('LaisoArmBundle:AffectationPrix:content.html.twig') %}
    <span class="clear-float"></span>
{% endblock %}