{% extends '::base.html.twig' %}

{% block title %}Modification de la localisation{% endblock %

{% block body -%}
    {% include ('@LaisoArm/Localisation/includes/edit_localisation.html.twig') %}

  {{ form(delete_form) }}
    <span class="clear-float"></span>
{% endblock %}
