{% extends '::base.html.twig' %}

{% block title %}Ajout d'une localisation{% endblock %}

{% block body -%}
    {% include ('@LaisoArm/Localisation/includes/new_localisation.html.twig') %}
    <span class="clear-float"></span>
{% endblock %}
