<h1>Création de nouvelle campagne</h1>
<br>
{{ form_start(form) }}
<div class="grid laiso-bordered padding10">
    <div class="row cells4">
        <div class="cell colspan2">
            <div class="fg-red">
                {{ form_errors(form.financement) }}
            </div>
            <span class="text-bold">Financement</span>
            <div class="input-control text full-size">
                {{ form_widget(form.financement) }}
            </div>
        </div>
        <div class="cell">
            <div class="fg-red">
                {{ form_errors(form.financementAbbr) }}
            </div>
            <span class="text-bold">Abbréviation</span>
            <div class="input-control text full-size">
                {{ form_widget(form.financementAbbr) }}
            </div>
        </div>

        <div class="cell">
            <div class="fg-red">
                {{ form_errors(form.numerotation) }}
            </div>
            <span class="text-bold">Numérotation du marché</span>
            <div class="input-control text full-size">
                {{ form_widget(form.numerotation) }}
            </div>
        </div>
        </div>
    <div class="cells3 row">
        <div class="cell">
            <div class="fg-red">
                {{ form_errors(form.gestion) }}
            </div>
            <span class="text-bold">Gestion</span>
            <div class="input-control text full-size">
                {{ form_widget(form.gestion) }}
            </div>
        </div>
        <div class="cell">
            <div class="fg-red">
                {{ form_errors(form.exercice) }}
            </div>
            <span class="text-bold">Exercice</span>
            <div class="input-control text full-size">
                {{ form_widget(form.exercice) }}
            </div>
        </div>
        <div class="cell">
            <div class="fg-red">
                {{ form_errors(form.tVA) }}
            </div>
            <span class="text-bold">TVA</span>
            <div class="input-control text full-size" data-role="input">
                {{ form_widget(form.tVA) }}
                <div class="button-group">
                    <button class="button" onclick="return false">%</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row cells3">
        <div class="cell">
            <div class="fg-red">
                {{ form_errors(form.plafondPenalite) }}
            </div>
            <span class="text-bold">Plafond de la pénalité</span>
            <div class="input-control text full-size" data-role="input">
                {{ form_widget(form.plafondPenalite) }}
                <div class="button-group">
                    <button class="button" onclick="return false">%</button>
                </div>
            </div>
        </div>

        <div class="cell">
            <div class="fg-red">
                {{ form_errors(form.tauxAvance) }}
            </div>
            <span class="text-bold">Taux de l'avance de démarrage</span>
            <div class="input-control text full-size" data-role="input">
                {{ form_widget(form.tauxAvance) }}
                <div class="button-group">
                    <button class="button" onclick="return false">%</button>
                </div>
            </div>
        </div>

        <div class="cell">
            <div class="fg-red">
                {{ form_errors(form.penaliteRetardJour) }}
            </div>
            <span class="text-bold">Taux de la pénalisation de retard par jour</span>
            <div class="input-control text full-size" data-role="input">
                {{ form_widget(form.penaliteRetardJour) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}