{% extends '::base.html.twig' %}

{% block title %}Paramétrage - Modifier le libellé de marché{% endblock %}

{% block breadcumbs %}
    <li><a href="#">Admin</a></li>
    <li><a href="{{ path('libelleavenant') }}">Libellés de marchés</a></li>
    <li><a href="{{ path('libelleavenant_show', {'id': entity.id}) }}">Libellé n° {{ entity.numero }}</a></li>
{% endblock %}

{% block body -%}
    {% include ('@LaisoArm/LibelleAvenant/includes/edit_libelleAvenant.html.twig') %}
    {{ form(delete_form) }}
{% endblock %}
