{% extends '::base.html.twig' %}

{% block title %}Paramétrage - Nouveau libellé de marché{% endblock %}

{% block breadcumbs %}
    <li><a href="#">Admin</a></li>
    <li><a href="{{ path('libelleavenant') }}">Libellés de marchés</a></li>
    <li><a href="{{ path('libelleavenant_new') }}">Créer</a></li>
{% endblock %}

{% block body -%}
{% include ('@LaisoArm/LibelleAvenant/includes/new_libelleAvenant.html.twig') %}
{% endblock %}
