<h1>Modifier le décompte n° {{ entity.numero }} du marché n° {{ entity.avenant.marche.numero }}</h1>
<br>
{{ form_start(edit_form) }}
<div class="laiso-bordered padding10 grid">
    <div class="row cells3">
        <div class="cell">
            <strong>Numéro</strong>
            <div class="fg-red">
                {{ form_errors(edit_form.numero) }}
            </div>
            <div class="input-control number full-size">
                {{ form_widget(edit_form.numero) }}
            </div>
        </div>
        <div class="cell colspan2">
            <strong>Date</strong>
            <div class="fg-red">
                {{ form_errors(edit_form.dateDecompte) }}
            </div>
            <div class="input-control number full-size" data-role="datepicker" data-format="dd/mm/yyyy">
                {{ form_widget(edit_form.dateDecompte) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(edit_form) }}