<div class="laiso-bordered padding10 margin10 no-margin-left no-margin-right no-margin-bottom">
    <div class="align-center">
        <h4 class="text-bold">DIVISION TRAVAUX D'ENTRETIEN COURANT</h4>
        <h5>BLOC N° {{ entity.avenant.marche.lotissement.bloc.numero }}</h5> **********
        <h5>{{ entity.avenant.marche.lotissement.bloc.localisation }}</h5> *********
    </div>
    <table style="width: 80%; margin: auto;">
        <tr>
            <td class="text-bold" style="width: 20%;">MARCHE N°</td>
            <td style="width: 3%;">:</td>
            <td>{{ entity.avenant.marche }}</td>
        </tr>

        <tr>
            <td class="text-bold">OBJET</td>
            <td>:</td>
            <td>{{ entity.avenant.marche.objet }}</td>
        </tr>
        <tr>
            <td class="text-bold">TITULAIRE</td>
            <td>:</td>
            <td>{{ entity.avenant.marche.entreprise }}</td>
        </tr>
    </table>

    <p class="align-center text-bold">{{ 'Porté au Décompte Provisoire n°' | upper }}{{ entity.numero }}</p>
</div>
<div class="align-center bg-grayLight padding5 margin10 no-margin-left no-margin-right no-margin-bottom">
    <h3 class="text-bold">CERTIFICAT POUR PAIEMENT D'ACOMPTE</h3>
</div>
<div class="laiso-bordered padding10 margin10 no-margin-left no-margin-right no-margin-bottom">
    <p>
        L’Ingénieur en Chef soussigné,<br>
        Vu le marché n° {{ entity.avenant.marche }} passé avec
        l'entreprise {{ entity.avenant.marche.entreprise.denomination }},
        <br>
        Approuvé le {{ entity.avenant.marche.avenants[0].dateVisa | localizeddate('long', 'none') }},
        <br>
        CERTIFIE:
    </p>
    <table class="table bordered border condensed">
        <tr>
            <td colspan="2">
                1 - Qu'il résulte de l'arrêté des écritures de la comptabilité des travaux à la date
                du <span class="text-bold">{{ entity.dateDecompte | localizeddate('long', 'none') }}</span>
                que le montant des sommes due à l'Entrepreneur s'élève au total de
            </td>
            <td class="align-right" style="width: 20%;">
                Ar. {{ (resteAPayer | tva(tva)) | separer }}
            </td>
        </tr>
        <tr>
            <td colspan="3">
                d'où il y a lieu de retenir, jusqu'à nouvel ordre, les retenues reglémentaires de :
            </td>
        </tr>
        <tr>
            <td></td>
            <td>- Montant total des retenues de garanties cumulées</td>
            <td class="align-right">Ar. {{ (cumulRetenue | tva(tva)) | separer }}</td>
        </tr>
        <tr>
            <td></td>
            <td>- Montant total de remboursement d'avance</td>
            <td class="align-right">Ar. {{ (montantRemboursementAvance | tva(tva)) | separer }}</td>
        </tr>
        <tr>
            <td></td>
            <td>- Restitution de retenues de garanties</td>
            <td class="align-right">Ar. {{ (restitutionRetenue | tva(tva)) | separer }}</td>
        </tr>
        <tr>
            <td colspan="2">
                2 - Qu'il a été payé jusqu'à ce jour, à titre d'acompte, une somme totale de
            </td>
            <td class="align-right">
                Ar. {{ (acompte | tva(tva)) | separer }}
            </td>
        </tr>
        <tr>
            {% set sommeAPayer = resteAPayer - acompte - montantRemboursementAvance - cumulRetenue + restitutionRetenue %}

            <td></td>
            <td>Qu'il reste dû la somme de</td>
            <td class="align-right text-bold text-accent">
                Ar. {{ ((sommeAPayer) | tva(tva)) | separer }}
            </td>
        </tr>
    </table>
    <br><br>


    Qu'il peut être payé par la suite à l'Entreprise "{{ entity.avenant.marche.entreprise.denomination }}",
    un {{ numero }}<sup>{{ numero > 1 ? "ème" : "er" }}</sup> acompte,
    <br>
    VU, VERIFIE ET ARRETE A LA SOMME DE
    <br><br>
    <div class="laiso-bordered align-center bg-grayLighter padding5">
        <h4 class="text-bold">{{ ((sommeAPayer | tva(tva)) | toLetter('ariary', false)) | upper }}
            (AR {{ (sommeAPayer | tva(tva)) | separer }})</h4>
    </div>
</div>

<div class="grid margin50 no-margin-left no-margin-right">
    <table>
        <tr>
            <td width="70%"></td>
            <td>
                    {{ entity.avenant.marche.lotissement.bloc.siege | upper }}, le .............................................. <br><br>
                    <span class="text-bold">L'Ingénieur en Chef, </span>
            </td>
        </tr>
    </table>
</div>