{% extends "::base.html.twig" %}

{% block title %}Administration - Tableau de bord{% endblock %}

{% block breadcumbs %}
    <li><a href="#">DTEC</a></li>
    <li><a href="{{ path('dashboard_index') }}">Tableau de bord</a></li>
{% endblock %}

{% block body %}
    <table class="table border bordered">

    </table>
{% endblock %}