<h1>Ajout de ligne du DQE</h1>
<br>
{{ form_start(form, {'attr': {'class': 'ligneDqe'}}) }}
<div class="grid laiso-bordered padding10">
    <div class="row cells4">
        <div class="cell colspan3">
            <strong>Prix</strong>
            <div class="fg-red">
                {{ form_errors(form.prix) }}
            </div>

            <div class="input-control select full-size" data-role="select">
                {{ form_widget(form.prix) }}
            </div>
        </div>
        <div class="cell">
            <strong>Quantité</strong>
            <div class="fg-red">
                {{ form_errors(form.quantite) }}
            </div>

            <div class="input-control text full-size">
                {{ form_widget(form.quantite) }}
            </div>
        </div>
    </div>
</div>

<input type="submit" class="button success place-right" value="Valider">


{{ form_end(form) }}


