{% extends '::base.html.twig' %}

{% block title %}Modification d'intervenant{% endblock %}

{% block body -%}
    {% include ('@LaisoArm/Intervenant/includes/edit_intervenant.html.twig') %}
    <a class="button primary" href="{{ path('intervenant') }}">
        Retourner à la liste des intervenants
    </a>
{% endblock %}
