{% extends '::base.html.twig' %}

{% block title %}Liste globale des intervanants{% endblock %}

{% block body -%}
    <table class="table border bordered">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Fonction</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.fonction }}</td>
                <td class="align-center">
                    <a class="ajax-button" href="{{ path('intervenant_edit', { 'id': entity.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="button primary ajax-button" href="{{ path('intervenant_new') }}">
        Ajouter un nouvel intervenant
    </a>

{% endblock %}
