{% extends '::base.html.twig' %}

{% block title %}Ajout d'intervenant {% endblock %}

{% block body -%}
    {% include ('@LaisoArm/Intervenant/includes/new_intervenant.html.twig') %}

    <a class="button primary" href="{{ path('intervenant') }}">
        Retourner à la liste des intervenants
    </a>

{% endblock %}
