{% extends '::base.html.twig' %}

{% block body -%}
    {% include ('@LaisoArm/Consistance/includes/new_consistance.html.twig') %}

        <ul class="record_actions">
    <li>
        <a href="{{ path('consistance', {'daoId' : entity.lotissement.id}) }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
