{% extends '::base.html.twig' %}

{% block title %}Administration - Entreprise {{ entity }}{% endblock %}

{% block breadcumbs %}
    <li><a href="#">Admin</a></li>
    <li><a href="{{ path('entreprise') }}">Entreprise</a></li>
    <li><a href="{{ path('entreprise_show', {'id': entity.id}) }}">{{ entity.denomination }}</a></li>
    <li><a href="{{ path('entreprise_edit', {'id': entity.id}) }}">Modifier</a></li>
{% endblock %}

{% block body -%}
    {% include ('@LaisoArm/Entreprise/includes/edit_entreprise.html.twig') %}

    {{ form(delete_form) }}

    <a class="button primary" href="{{ path('entreprise') }}">Retourner à la liste des entreprises</a>
{% endblock %}
