{% extends '::base.html.twig' %}

{% block title %}Administration - Liste des entreprises{% endblock %}

{% block breadcumbs %}
    <li><a href="#">Admin</a></li>
    <li><a href="{{ path('entreprise') }}">Entreprises</a></li>
{% endblock %}

{% block body -%}
    {% if entities | length > 0 %}
        <table class="table bordered border">
            <thead>
            <tr>
                <th>Sigle</th>
                <th>Adresse</th>
                <th>Statistique</th>
                <th>NIF</th>
                <th>Contacts</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.sigle }}</td>
                    <td>{{ entity.adresse }}</td>
                    <td>{{ entity.statistique }}</td>
                    <td>{{ entity.nIF }}</td>
                    <td>
                        {{ entity.telephone1 }} - {{ entity.telephone2 }}
                        <br>
                        {{ entity.email }}
                    </td>
                    <td>
                        <a href="{{ path('entreprise_show', { 'id': entity.id }) }}">
                        <span data-role="hint" data-hint-background="bg-darkTeal" data-hint-color="fg-white"
                              data-hint="Détailler|Détailler l'entreprise {{ entity.sigle }}">Détails</span>
                        </a>

                        <a class="ajax-button" href="{{ path('entreprise_edit', { 'id': entity.id }) }}">
                        <span data-role="hint" data-hint-background="bg-darkTeal" data-hint-color="fg-white"
                              data-hint="Modifier|Modifier l'entreprise {{ entity.sigle }}">Modifier</span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include ('LaisoArmBundle:Shared:paginator.html.twig') %}

        <a class="button primary ajax-button" href="{{ path('entreprise_new') }}">
            Créer une nouvelle entreprise
        </a>

    {% else %}
        <div class="laiso-bordered margin10 no-margin-right no-margin-left no-margin-bottom padding10 align-center">
            <h3>Aucune entreprise.</h3>
            <a class="button primary ajax-button" href="{{ path('entreprise_new') }}">
                Créer une nouvelle entreprise
            </a>
        </div>
    {% endif %}
{% endblock %}
