{% extends '::base.html.twig' %}

{% block title %}Administration - Nouvelle entreprise{% endblock %}

{% block breadcumbs %}
    <li><a href="#">Admin</a></li>
    <li><a href="{{ path('entreprise') }}">Entreprise</a></li>
    <li><a href="{{ path('entreprise_new') }}">Créer</a></li>
{% endblock %}

{% block body -%}
    {% include ('@LaisoArm/Entreprise/includes/new_entreprise.html.twig') %}
    <a class="button primary" href="{{ path('entreprise') }}">Retourner à la liste des entreprises</a>
{% endblock %}
