<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>SGPEC ARM :: Authentification</title>

    <link rel="stylesheet" media="all" type="text/css" href="{{ asset('public/metro-ui/css/metro.min.css') }}">
    <link rel="stylesheet" media="all" type="text/css" href="{{ asset('public/metro-ui/css/metro-responsive.min.css') }}">
    <link rel="stylesheet" media="all" type="text/css" href="{{ asset('public/metro-ui/css/metro-rtl.min.css') }}">
    <link rel="stylesheet" media="all" type="text/css" href="{{ asset('public/metro-ui/css/metro-schemes.min.css') }}">
    <link rel="stylesheet" media="all" type="text/css" href="{{ asset('public/metro-ui/css/metro-icons.min.css') }}">


    <script language="JavaScript" type="text/javascript" src="{{ asset('public/scripts/jquery-2.1.3.min.js') }}"></script>
    <script language="JavaScript" type="text/javascript" src="{{ asset('public/metro-ui/js/metro.min.js') }}"></script>

    <style>
        .login-form {
            width: 29rem;
            /*position: fixed;
            top: 50%;
            margin-top: -15rem;
            left: 50%;
            margin-left: -12.5rem;*/
            margin: 10em auto 0 auto;
            background-color: #ffffff;
        }
    </style>
</head>
<body class="bg-grayDark">

{% block fos_user_content %}

{% endblock %}
<span class='clear-float'></span>
</body>
</html>