<a href="{{ path('laiso_arm_homepage') }}" class="logo">
    <span class="logo-mini">SGPEC</span>
    <span class="logo-lg"><b>SGPEC</b>-ARM</span>
</a>

<nav class="navbar navbar-static-top" role="navigation">

    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <!-- User Account Menu -->
            <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span>
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                            </span>
                </a>
                <ul class="dropdown-menu sidebar-menu">
                    <li>
                        <a href="{{ path('fos_user_profile_show') }}">Mon profil</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_profile_edit') }}">Modifier mon profil</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                    </li>
                </ul>
            </li>
            <!-- Control Sidebar Toggle Button -->
            <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li>
        </ul>
    </div>
</nav>