{% extends '::base.html.twig' %}

{% block title %}Marché {{ entity.avenant.marche }} - CPA Décompte n° {{ entity.numero }}{% endblock %}

{% block breadcumbs %}
    <li><a href="{{ path('marche') }}">Marché</a></li>
    <li><a href="{{ path('marche_show', {'id' : entity.avenant.marche.id}) }}">Marché
            n° {{ entity.avenant.marche.numero }}</a></li>
    <li><a href="{{ path('decompte', {'marcheId': entity.avenant.marche.id}) }}">Décomptes</a></li>
    <li><a href="{{ path('decompte_show', {'marcheId': entity.avenant.marche.id, 'decompteId': entity.id}) }}">Décompte
            n° {{ entity.numero }} du {{ entity.dateDecompte|date('d M Y') }}</a></li>
    <li><a href="{{ path('decompte_cpa', {'marcheId': entity.avenant.marche.id, 'decompteId': entity.id}) }}">CPA</a>
    </li>
{% endblock %}

{% block body -%}
    {% include ('@LaisoArm/Decompte/cpa/content.html.twig') %}

    <a target="_blank" href="{{ path('decompte_export_cpa', {'marcheId': entity.avenant.marche.id, 'decompteId': entity.id}) }}" class="button primary">Exporter au format PDF</a>
{% endblock %}
