{% extends '::base.html.twig' %}

{% block title %}Marché {{ entity.avenant.marche }} - Décompte n° {{ entity.numero }}{% endblock %}

{% block body -%}
    {% include ('@LaisoArm/Decompte/includes/edit_decompte.html.twig') %}
    {{ form(delete_form) }}
{% endblock %}
