{% extends '::base.html.twig' %}

{% block title %}
    Marché n° {{ marche }} - Décomptes
{% endblock %}

{% block breadcumbs %}
    <li><a href="{{ path('marche') }}">Marché</a></li>
    <li><a href="{{ path('marche_show', {'id' : marche.id}) }}">Marché n° {{ marche }}</a></li>
    <li><a href="{{ path('decompte', {'marcheId': marche.id}) }}">Décomptes</a></li>
{% endblock %}

{% set total = marche.montantInitial %}
{% set tva = marche.entrepriseAssujettie ? marche.lotissement.campagne.tVA : 0 %}
{% set montantDelivre = 0 %}
{% set nombreDecompte = 0 %}

{% block body -%}
    <div class="grid">
        <div class="row cells7">
            <div class="cell colspan2">
                <div class="panel">
                    <div class="heading">
                        <span class="title">Avancement</span>
                    </div>
                    <div class="content padding10">
                        <div class="laiso-bordered padding10 bg-white margin10 no-margin-left no-margin-right no-margin-top">
                            Montant HT: <br>
                            <span class="place-right tag primary">{{ total | separer }} Ar.</span>
                            <span class="clear-float"></span>
                            TVA: <br>
                            <span class="place-right tag primary">{{ (total * tva / 100) | separer }} Ar.</span>
                            <span class="clear-float"></span>
                            Montant TTC: <br>
                            <span class="place-right tag primary">{{ (total | tva(tva)) | separer }} Ar.</span>
                            <span class="clear-float"></span>
                            <hr class="thin">
                            <div class="align-center avancement laiso-bordered padding10">
                                {#<div data-role="preloader" data-type="cycle" data-style="color" style="margin:100px auto;"></div>
                                <p>Chargement de l'aperçu</p>#}
                                <h1 class="fg-green">{{ marche.avancementFinancier | separer }} %</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell colspan5">
                <div class="panel">
                    <div class="heading">
                        <span class="title">Décomptes provisoires</span>
                    </div>
                    <div class="content">
                        {% if entities | length > 0 %}
                            <div class="laiso-bordered padding10">

                                {% for entity in entities %}
                                    <div style="border: dashed darkgray 1px;"
                                         class="padding10 no-padding-top bg-white margin10 no-margin-left no-margin-right no-margin-top">
                                        <h4>
                                            <a href="{{ path('decompte_show', { 'decompteId': entity.id, 'marcheId': marcheId }) }}">Décompte provisoire n° {{ entity.numero }}{% if entity.dateDecompte %} du {{ (entity.dateDecompte|localizeddate('long', 'none')) |capitalize }}{% endif %}</a>

                                            {% if entity.numero == 0 %}
                                                <span class="place-right tag success">Avance de démarrage</span>
                                            {% endif %}
                                        </h4>
                                        <hr class="thin">
                                        <div class="grid">
                                            <div class="row cells12">
                                                <div class="cell align-center">
                                                    <span class='mif-2x mif-{{ entity.ferme ? "lock fg-black" : "unlock fg-green" }}'></span>
                                                </div>
                                                <div class="cell colspan11 padding10 no-padding-top no-padding-right no-padding-bottom" style="border-left: solid #adadad 3px">

                                                    {% set montantPartiel = entity.montantBrutHTVA %}

                                                    Montant brut <span class="place-right tag primary">{{ montantPartiel | separer }} Ar.</span>
                                                    {% if entity.numero > 0 %}
                                                        {% set montantDelivre = montantDelivre + montantPartiel %}
                                                    {% endif %}
                                                    <span class="clear-float">
                                                    Montant brut cumulé<span class="place-right tag primary"> {{ montantDelivre | separer }} Ar. </span>
                                                        <hr class="bg-gray">
                                                        {#<span class="place-right">
                                                            <ul class="inline-list no-margin">
                                                                <li><a href="#"><span class="mif-list"></span></a></li>
                                                                <li><a href="#"><span class="mif-file-text"></span></a></li>
                                                                <li><a href="#"><span class="mif-folder-open"></span></a></li>
                                                                <li><a href="#"><span class="mif-search"></span></a></li>
                                                            </ul>
                                                        </span>#}
                                                    {#<br>
                                                    Soit <span class="place-right tag primary">{{ (( montantPartiel) * 100 / total) | separer }}%</span><br>
                                                    Avancement financier <span class="place-right tag primary">{{ ((montantDelivre + montantPartiel) * 100 / total) | separer }}%</span>#}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {% set nombreDecompte = entity.numero %}
                                {% endfor %}

                                {% if nombreDecompte < delai %}
                                    <a class="button primary ajax-button"
                                       href="{{ path('decompte_new', {'marcheId': marcheId}) }}">
                                        Ajouter un nouveau décompte provisoire
                                    </a>

                                {% endif %}
                            </div>
                        {% else %}
                            <div class="laiso-bordered padding10 margin10 no-margin-left no-margin-right no-margin-bottom align-center">
                                <h3>Aucun décompte provisoire trouvé.</h3>
                                <hr class="thin" width="75%">
                                <a class="button warning ajax-button"
                                   href="{{ path('decompte_zero', {'marcheId': marcheId}) }}">
                                    Ajouter une avance de démarrage
                                </a>
                                <a class="button primary ajax-button"
                                   href="{{ path('decompte_new', {'marcheId': marcheId}) }}">
                                    Ajouter un nouveau décompte provisoire.
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
