{% extends '::base.html.twig' %}

{% block title %}Marché {{ entity.avenant.marche }} - Nouveau Décompte{% endblock %}

{% block body -%}
    {%  include '@LaisoArm/Decompte/includes/new_decompte.html.twig' %}
{% endblock %}
