{% extends '::base.html.twig' %}

{% block title %}
    Marché n° {{ entity.avenant.marche }} - Décompte n° {{ entity.numero }}
{% endblock %}
{% block breadcumbs %}
    <li><a href="{{ path('marche') }}">Marché</a></li>
    <li><a href="{{ path('marche_show', {'id' : entity.avenant.marche.id}) }}">Marché n° {{ entity.avenant.marche }}</a></li>
    <li><a href="{{ path('decompte', {'marcheId': entity.avenant.marche.id}) }}">Décomptes</a></li>
    <li><a href="{{ path('decompte_show', {'marcheId': entity.avenant.marche.id, 'decompteId': entity.id}) }}">Décompte n° {{ entity.numero }} du {{ entity.dateDecompte|localizeddate('long', 'none') }}</a></li>
    <li><a href="{{ path('decompte_preview',{'marcheId': entity.avenant.marche.id, 'decompteId': entity.id} ) }}">DP Recto</a></li>
{% endblock %}

{% set tva = entity.avenant.marche.entrepriseAssujettie ? entity.avenant.marche.lotissement.campagne.tVA : 0 %}

{% block body %}
    <div class="laiso-bordered padding10 margin10 no-margin-left no-margin-right no-margin-bottom">
    <div class="align-center">
        <h4 class="text-bold">DIVISION TRAVAUX ENTRETIEN COURANT</h4>
        BLOC N° {{ entity.avenant.marche.lotissement.bloc.numero }} <br>
        ************<br>
        {{ entity.avenant.marche.lotissement.bloc.localisation | upper }} <br>
        ************<br>
    </div>

    <div class="grid">
        <div class="row cells5">
            <div class="cell offset3 colspan2">
                <table class="full-size">
                    <tr>
                        <td class="text-bold">GESTION</td>
                        <td>:</td>
                        <td class="align-right">{{ entity.avenant.marche.lotissement.campagne.gestion }}</td>
                    </tr>
                    <tr>
                        <td class="text-bold">BUDGET</td>
                        <td>:</td>
                        <td class="align-right">{{ entity.avenant.marche.lotissement.campagne.financementAbbr }}</td>
                    </tr>
                    <tr>
                        <td class="text-bold">MONTANT</td>
                        <td>:</td>
                        <td class="align-right text-bold">Ar. {{ (entity.avenant.marche.montant | tva(tva)) | separer }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <table>
        <tr>
            <td class="text-bold" style="width: 30%;">MARCHE N°</td>
            <td style="width: 3%;">:</td>
            <td>{{ entity.avenant.marche }}</td>
        </tr>

        <tr>
            <td class="text-bold">OBJET</td>
            <td>:</td>
            <td>{{ entity.avenant.marche.objet }}</td>
        </tr>
        <tr>
            <td class="text-bold">TITULAIRE</td>
            <td>:</td>
            <td>{{ entity.avenant.marche.entreprise }}</td>
        </tr>
        <tr>
            <td class="text-bold">MONTANT DE L'ACOMPTE</td>
            <td>:</td>
            <td class="text-bold align-center text-accent">Ar. {{ (resteAPayer | tva(tva)) | separer }}</td>
        </tr>
    </table>

    {% if entity.numero == 0 %}
        {% include '@LaisoArm/Decompte/print/zero.html.twig' %}
    {% else %}
        {% include '@LaisoArm/Decompte/print/default.html.twig' %}
    {% endif %}

    <a class="button primary" target="_blank" href="{{ path('decompte_print', {'decompteId': entity.id, 'marcheId': entity.avenant.marche.id}) }}">Exporter au format PDF</a>
{% endblock %}