{% extends '::export.html.twig' %}

{% set tva = entity.avenant.marche.entrepriseAssujettie ? entity.avenant.marche.lotissement.campagne.tVA : 0 %}

{% block body %}
    <div class="laiso-bordered padding10 margin10 no-margin-left no-margin-right no-margin-bottom">
    <div class="align-center">
        <h4 class="text-bold">DIVISION TRAVAUX ENTRETIEN COURANT</h4>
        BLOC N° {{ entity.avenant.marche.lotissement.bloc.numero }} <br>
        ************<br>
        {{ entity.avenant.marche.lotissement.bloc.localisation | upper }} <br>
        ************<br>
    </div>


    <table style="width: 80%; margin: auto;">
        <tr>
            <td width="60%"></td>
            <td class="text-bold">GESTION</td>
            <td>:</td>
            <td class="align-right">{{ entity.avenant.marche.lotissement.campagne.gestion }}</td>
        </tr>
        <tr>
            <td></td>
            <td class="text-bold">BUDGET</td>
            <td>:</td>
            <td class="align-right">{{ entity.avenant.marche.lotissement.campagne.financementAbbr }}</td>
        </tr>
        <tr>
            <td></td>
            <td class="text-bold">MONTANT</td>
            <td>:</td>
            <td class="align-right text-bold">Ar. {{ (entity.avenant.marche.montant | tva(tva)) | separer }}</td>
        </tr>
    </table>

    <table style="width: 80%; margin: auto;">
        <tr>
            <td class="text-bold" style="width: 30%;">MARCHE N°</td>
            <td style="width: 3%;">:</td>
            <td>{{ entity.avenant.marche }}</td>
        </tr>

        <tr>
            <td class="text-bold">OBJET</td>
            <td>:</td>
            <td>{{ entity.avenant.marche.objet }}</td>
        </tr>
        <tr>
            <td class="text-bold">TITULAIRE</td>
            <td>:</td>
            <td>{{ entity.avenant.marche.entreprise }}</td>
        </tr>
        <tr>
            <td class="text-bold">MONTANT DE L'ACOMPTE</td>
            <td>:</td>
            <td class="text-bold align-center text-accent">Ar. {{ (entity.montantAcompteHTVA | tva(tva)) | separer }}</td>
        </tr>
    </table>

    {% if entity.numero == 0 %}
        {% include '@LaisoArm/Decompte/print/zero.html.twig' %}
    {% else %}
        {% include '@LaisoArm/Decompte/print/default.html.twig' %}
    {% endif %}
{% endblock %}