{% extends '::base.html.twig' %}

{% block title %}Marché {{ entity.avenant.marche }} - Récapitulation du Décompte n° {{ entity.numero }}{% endblock %}
{% block breadcumbs %}
    <li><a href="{{ path('marche') }}">Marché</a></li>
    <li><a href="{{ path('marche_show', {'id' : entity.avenant.marche.id}) }}">Marché n° {{ entity.avenant.marche }}</a></li>
    <li><a href="{{ path('decompte', {'marcheId': entity.avenant.marche.id}) }}">Décomptes</a></li>
    <li><a href="{{ path('decompte_show', {'marcheId': entity.avenant.marche.id, 'decompteId': entity.id}) }}">Décompte n° {{ entity.numero }} du {{ entity.dateDecompte|localizeddate('long', 'none') }}</a></li>
    <li><a href="{{ path('decompte_recapitulation', {'marcheId': entity.avenant.marche.id, 'decompteId': entity.id}) }}">DP Verso</a></li>
{% endblock %}

{% block body %}

    {% set depensesFaites = 0 %}
    {% set retenues = 0 %}
    {% set restes = 0 %}
    {% set taxes = 0 %}

    {% set tva = entity.avenant.marche.entrepriseAssujettie ? entity.avenant.marche.lotissement.campagne.tVA : 0 %}

    {% include '@LaisoArm/Decompte/recapitulation/default.html.twig' %}

    <a class="button primary" target="_blank" href="{{ path('decompte_export_recapitulation', {'marcheId': entity.avenant.marche.id, 'decompteId': entity.id}) }}">Exporter au format PDF</a>
{% endblock %}