{% extends '::export.html.twig' %}

{% block body %}
    {% set depensesFaites = 0 %}
    {% set retenues = 0 %}
    {% set restes = 0 %}
    {% set taxes = 0 %}

    {% set tva = entity.avenant.marche.entrepriseAssujettie ? entity.avenant.marche.lotissement.campagne.tVA : 0 %}

    {% if entity.numero == 0 %}
        {% include '@LaisoArm/Decompte/recapitulation/zero.html.twig' %}
    {% else %}
        {% include '@LaisoArm/Decompte/recapitulation/default.html.twig' %}
    {% endif %}
    <br><br><br>
    <div class="grid margin50 no-margin-left no-margin-right">
        <table>
            <tr>
                <td width="70%"></td>
                <td>
                    {{ entity.avenant.marche.lotissement.bloc.siege | upper }}, le {{ entity.dateDecompte | localizeddate('long', 'none') }} <br><br>
                    <span class="text-bold">Le Chargé d'Itinéraires, <br>Bloc n° {{ entity.avenant.marche.lotissement.bloc.numero }} </span>
                    <br><br><br><br><br>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>

                </td>
            </tr>
        </table>
    </div>
{% endblock %}