{% extends '::base.html.twig' %}

{% block title %}
    Marché n° {{ entity.avenant.marche }} - Décompte n° {{ entity.numero }}
{% endblock %}
{% block breadcumbs %}
    <li><a href="{{ path('marche') }}">Marché</a></li>
    <li><a href="{{ path('marche_show', {'id' : entity.avenant.marche.id}) }}">Marché n° {{ entity.avenant.marche }}</a></li>
    <li><a href="{{ path('decompte', {'marcheId': entity.avenant.marche.id}) }}">Décomptes</a></li>
    <li><a href="{{ path('decompte_show', {'marcheId': entity.avenant.marche.id, 'decompteId': entity.id}) }}">Décompte n° {{ entity.numero }} du {{ entity.dateDecompte|localizeddate('long', 'none') }}</a></li>
{% endblock %}

{% set tva = entity.avenant.marche.entrepriseAssujettie ? entity.avenant.marche.lotissement.campagne.tVA : 0 %}
{% set allowed = app.user.hasRole('ROLE_CI') ? entity.avenant.marche.lotissement.bloc.localisation == app.user.bloc.localisation : false %}
{% block body -%}
    {% if entity.attachements | length > 0 %}
        <div class="laiso-bordered padding10 no-padding-top margin10 no-margin-left no-margin-right no-margin-bottom">
            <table class="table border bordered">
                <thead>
                <tr>
                    <th>Numéro</th>
                    <th>Détail</th>
                    <th>Type</th>
                    <th>Montant partiel</th>
                </tr>
                </thead>
                <tbody>
                {% for attachement in entity.attachements %}
                    <tr>
                        <td class="align-right">{{ attachement.numero }}</td>
                        <td>
                            <a href="{{ path('attachement_show', {'id': attachement.id, 'marcheId': entity.avenant.marche.id, 'decompteId': entity.id}) }}">Attachement
                                n° {{ attachement.numero }}
                                du {{ attachement.dateAttachement | localizeddate ('long', 'none') }}
                            </a>

                            {% if attachement.valide %}
                                <span class="place-right mif-checkmark fg-green"></span>
                            {% else %}
                                <span class="place-right mif-warning fg-red"></span>
                            {% endif %}
                        </td>
                        <td>{{ attachement.type }}</td>
                        <td class="align-right">{{ attachement.montantHTVA | separer }} Ar.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if entity.ferme %}
                <a class="button primary" target="_blank" href="{{ path('decompte_preview', {'decompteId': entity.id, 'marcheId': entity.avenant.marche.id}) }}">
                    <span class="icon mif-search"></span> &nbsp;&nbsp;
                    DP Recto
                </a>
                <a class="button primary" target="_blank" href="{{ path('decompte_recapitulation', {'marcheId': entity.avenant.marche.id, 'decompteId': entity.id}) }}">
                    <span class="icon mif-list"></span> &nbsp;&nbsp;
                    DP Verso
                </a>
                <a class="button primary" target="_blank" href="{{ path('decompte_cpa', {'marcheId': entity.avenant.marche.id, 'decompteId': entity.id}) }}">
                    <span class="icon mif-file-text"></span> &nbsp;&nbsp;
                    Certificat pour Paiement d'Acompte
                </a>
                <a href="{{ path('suivi', {'marcheId': entity.avenant.marche.id, 'decompteId': entity.id}) }}" target="_blank" class="button primary">Fiche de suivi</a>
            {% else %}
                {% if allowed %}
                    <a class="button primary ajax-button" href="{{ path('attachement_new', {'marcheId': entity.avenant.marche.id, 'decompteId': entity.id}) }}">Ajouter un attachement de travaux</a>
                    <a class="button warning confirm" href="{{ path('decompte_cloture', {'decompteId' : entity.id, 'marcheId' : entity.avenant.marche.id}) }}">Clôturer le décompte</a>
                    {% else %}
                    <p class="fg-orange">Vous n'avez pas le droit d'apporter de modifications.</p>
                {% endif %}
            {% endif %}
        </div>
    {% else %}
        <div class="laiso-bordered padding10 margin10 no-margin-left no-margin-right no-margin-bottom align-center">
            <h3>Aucun attachement trouvé.</h3>
            <a class="button primary ajax-button" href="{{ path('attachement_new', {'marcheId': entity.avenant.marche.id, 'decompteId': entity.id}) }}">Ajouter un attachement de travaux</a>
        </div>
    {% endif %}
{% endblock %}
