{% extends '::base.html.twig' %}

{% block title %}Marché n° {{ entity.marche }} - Modifier l'avenant n° {{ entity.libelle.numero }} {% endblock %}

{% block body -%}
{% include ('@LaisoArm/Avenant/includes/edit_avenant.html.twig') %}

    {{ form(delete_form) }}
        <a class="button primary" href="{{ path('avenant', {'marcheId': entity.marche.id}) }}">
            Retourner à la liste des avenants du marché {{ entity.marche.numero }}
        </a>
{% endblock %}
