{% extends '::base.html.twig' %}

{% block title %}Marché n° {{ entity.marche }} - Créer un nouvel avenant{% endblock %}

{% block body -%}
    {% include ('@LaisoArm/Avenant/includes/new_avenant.html.twig') %}
    <a class="button primary" href="{{ path('avenant', {'marcheId' : entity.marche.id}) }}">
        Retourner à la liste des avenants du marché {{ entity.marche.numero }}
    </a>
{% endblock %}
