{% extends '::base.html.twig' %}

 {% block title %}Marché n° {{ entity.marche }} - Avenant n° {{ entity.libelle.numero }}{% endblock %}

{% block breadcumbs %}
    <li><a href="{{ path('marche') }}">Marché</a></li>
    <li><a href="{{ path('marche_show', {'id' : entity.marche.id}) }}">Marché n° {{ entity.marche  }}</a></li>
    <li><a href="{{ path('avenant', {'marcheId': entity.marche.id}) }}">Avenants</a></li>
    <li><a href="{{ path('avenant_show', {'marcheId': entity.marche.id, 'numero': entity.libelle.numero}) }}">{% if entity.libelle.numero == 0 %}Marché initial  <small>(Avenant Zéro)</small>{% else %}Avenant n° {{ entity.libelle.numero }}{% endif %}</a></li>
{% endblock %}

{% block body -%}
    {% if entity.libelle.numero > 0 %}
        <table class="table border bordered">
            <tbody>
            <tr>
                <th style="width: 25%;">Délai</th>
                <td>{{ (entity.delai | toLetter('mois', false)) | upper }}</td>
            </tr>
            <tr>
                <th>Date de VISA</th>
                <td>
                    {% if entity.dateVisa %}{{ entity.dateVisa|date('d M Y') }}{% endif %}
                </td>
            </tr>
            <tr>
                <th>Date de signature de l'entreprise</th>
                <td>
                    {% if entity.dateSignatureEntreprise %}{{ entity.dateSignatureEntreprise|date('d M Y') }}{% endif %}
                </td>
            </tr>
            <tr>
                <th>Date de signature de l'ARM</th>
                <td>
                    {% if entity.dateSignatureArm %}{{ entity.dateSignatureArm|date('d M Y') }}{% endif %}
                </td>
            </tr>
            <tr>
                <th>Date OS de notification</th>
                <td>
                    {% if entity.dateOsNotification %}{{ entity.dateOsNotification|date('d M Y') }}{% endif %}
                </td>
            </tr>
            <tr>
                <th>Date OS de démarrage</th>
                <td>
                    {% if entity.dateOsDemarrage %}{{ entity.dateOsDemarrage|date('d M Y') }}{% endif %}
                </td>
            </tr>
            </tbody>
        </table>

        <a class="button primary ajax-button"
           href="{{ path('avenant_edit', { 'numero': entity.libelle.numero, 'marcheId': entity.marche.id }) }}">
            Remplir
        </a>

        <hr class="thin">
    {% endif %}
    <br>
    {% if entity.lignes | length == 0 and entity.libelle.numero > 0 %}
        <div class="bg-grayLight padding5 align-center">
            <h4>{{ 'Détail Quantitatif Estimatif' | upper }}</h4>
        </div>
        <br>
        <div class="align-center laiso-bordered padding10">
            <h3>Aucune ligne dans le DQE de cet Avenant</h3>
        </div>
    {% else %}
        {% set lotissement = entity.marche.lotissement %}
        {% set rubrique = 'marche' %}
        {% include '@LaisoArm/DQE/dqe.html.twig' %}
    {% endif %}
{% endblock %}
