{% extends '::base.html.twig' %}

{% block title %}Paramétrage - Unités de mesure{% endblock %}

{% block breadcumbs %}
    <li><a href="#">Admin</a></li>
    <li><a href="{{ path('unitedemesure') }}">Unité de mesure</a></li>
{% endblock %}

{% block body -%}
    {% if entities | length == 0 %}
        <div class="laiso-bordered padding10 align-center margin10 no-margin-left no-margin-roght no-margin-bottom">
            <h3>Aucune unité de mesure</h3>
            <a class="button primary ajax-button" href="{{ path('unitedemesure_new') }}">
                Créer une nouvelle unité de mesure
            </a>
        </div>
    {% else %}

        <table class="table border bordered">
            <thead>
            <tr>
                <th>Unité</th>
                <th style="width: 20%;">Abbréviation</th>
                <th>Arrêtage</th>
                <th style="width: 20%;">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.unite }}</td>
                    <td  class="align-center">{{ entity.abbrege }}</td>
                    <td>{{ entity.arretage }}</td>
                    <td class="align-center">
                        {#<a href="{{ path('unitedemesure_show', { 'id': entity.id }) }}">show</a> |#}
                        <a class="ajax-button" href="{{ path('unitedemesure_edit', { 'id': entity.id }) }}">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include ('LaisoArmBundle:Shared:paginator.html.twig') %}
        <a class="button primary ajax-button" href="{{ path('unitedemesure_new') }}">
            Créer une nouvelle unité de mesure
        </a>
    {% endif %}
{% endblock %}
