{% if page == 'ajax' %}
<h1>Modifier l'appel d'offre numéro {{ entity }}</h1>
{% endif %}
{{ form_start(edit_form) }}
<div class="grid laiso-bordered padding10">
    <div class="row cells4">
        <div class="cell">
            <strong>Numéro du lot</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.numero) }}
            </div>

            <div class="input-control number full-size">
                {{ form_widget(edit_form.numero) }}
            </div>
        </div>

        <div class="cell">
            <strong>Bloc</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.bloc) }}
            </div>

            <div class="input-control select full-size" data-role="select">
                {{ form_widget(edit_form.bloc) }}
            </div>
        </div>
        <div class="cell colspan2">
            <strong>Campagne</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.campagne) }}
            </div>

            <div class="input-control select full-size" data-role="select">
                {{ form_widget(edit_form.campagne) }}
            </div>
        </div>

    </div>
    <div class="row cells6">
        <div class="cell">
            <strong>Classe de référence</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.classe) }}
            </div>

            <div class="input-control select full-size" data-role="select">
                {{ form_widget(edit_form.classe) }}
            </div>
        </div>
        <div class="cell">
            <strong>Délai</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.delai) }}
            </div>

            <div class="input-control full-size">
                {{ form_widget(edit_form.delai) }}
            </div>
        </div>
        <div class="cell colspan4">
            <div class="cell">
                <strong>Consistances</strong>

                <div class="fg-red">
                    {{ form_errors(edit_form.type) }}
                </div>

                <div class="input-control full-size select" data-role="select">
                    {{ form_widget(edit_form.type) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row cells3">
        <div class="cell">
            <strong>Axe</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.axe) }}
            </div>
            <div class="input-control full-size select" data-role="select">
                {{ form_widget(edit_form.axe) }}
            </div>
        </div>

        <div class="cell">
            <strong>PK Début</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.pKDebut) }}
            </div>

            <div class="input-control text full-size">
                {{ form_widget(edit_form.pKDebut) }}
            </div>
        </div>

        <div class="cell">
            <strong>PK Fin</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.pKFin) }}
            </div>

            <div class="input-control text full-size">
                {{ form_widget(edit_form.pKFin) }}
            </div>
        </div>
    </div>
    <div class="row cells3">
        <div class="cell">
            <strong>Région</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.region) }}
            </div>

            <div class="input-control select full-size" data-role="select">
                {{ form_widget(edit_form.region) }}
            </div>
        </div>
        <div class="cell colspan2">
            <strong>Localisation</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.localisation) }}
            </div>

            <div class="input-control text full-size">
                {{ form_widget(edit_form.localisation) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(edit_form) }}
