<table class="table border bordered bg-white">
    <thead>
    <tr>
        <th style="width: 20%;">Lot</th>
        <th style="text-align: center">Objet</th>
        <th style="text-align: center">Bloc</th>
        <th style="width: 80px; text-align: center">Délai</th>
        <th  style="text-align: center">Classe</th>
        <th style="width: 18%; text-align: center;">Remarques et actions</th>
    </tr>
    </thead>
    <tbody>

    {% for entity in lotissements %}
        <tr>
            <td>
                <h4 {% if app.user.bloc and entity.bloc.localisation != app.user.bloc.localisation %}
                    class="fg-orange"
                {% elseif entity.valide %}
                    class="fg-darkGreen"
                {% else %}
                    class="fg-darkBlue"
                        {% endif %}>

                    <strong>Lot n° {{ entity.affichage }}</strong>

                    {% if app.user.bloc and entity.bloc.localisation != app.user.bloc.localisation %}
                        <span class="mif-warning fg-orange place-right"></span>
                    {% elseif entity.valide %}
                        <span class="mif-checkmark place-right"></span>
                    {% endif %}
                </h4>
                <hr class="thin">
                <small>
                    {% if entity.type %}
                        {{ entity.type }}
                    {% else %}
                        (Aucune consistance)
                    {% endif %}
                </small>
            </td>
            <td>
                {{ entity.type }} de la {{ entity.axe }} entre le PK {{ entity.pKDebut }} et le PK {{ entity.pKFin }}
                - {{ entity.localisation }}
                <hr class="thin">
                <small><strong>Campagne : </strong>{{ entity.campagne }}</small>
            </td>
            <td class="align-center">{{ entity.region.nom }}</td>
            <td class="align-center">{{ entity.delai }} mois</td>
            <td class="align-center">{{ entity.classe }}</td>
            <td class="align-center">
                {% if not entity.marche.avenants[entity.marche.avenants | length - 1].valide %}
                    <small class="fg-orange">Les quantités ne sont pas encores validées <br></small>
                {% endif %}

                {% if app.user.bloc and entity.bloc.localisation != app.user.bloc.localisation %}
                    <small class="fg-orange">
                        Offre non disponible uniquement dans le bloc {{ entity.bloc }}
                    </small>
                {% elseif entity.valide == false %}
                    <small class="fg-gray">Offre en attente de validation</small> <br><br>
                    <a href="{{ path('dao_show', { 'id': entity.id }) }}">
                        Détails
                    </a> &nbsp;
                    <a class="ajax-button" href="{{ path('dao_edit', { 'id': entity.id }) }}">
                        Modifier
                    </a>
                {% else %}
                    <small class="fg-gray">
                        Offre déjà validée : Veuillez la retrouver dans la rubrique <strong> <a
                                    href="{{ path('marche') }}">Marché</a> > Lot {{ entity.affichage }}</strong>
                    </small>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>