{% if entity.attachements | length > 0 %}
    <div class="laiso-bordered padding10 no-padding-top margin10 no-margin-left no-margin-right no-margin-bottom">
        <table class="table border bordered">
            <thead>
            <tr>
                <th>Numéro</th>
                <th>Détail</th>
                <th>Type</th>
                <th>Montant partiel</th>
            </tr>
            </thead>
            <tbody>
            {% for attachement in entity.attachements %}
                <tr>
                    <td class="align-right">{{ attachement.numero }}</td>
                    <td>
                        <a href="{{ path('attachement_show', {'id': attachement.id, 'marcheId': entity.avenant.marche.id, 'decompteId': entity.id}) }}">Attachement
                            n° {{ attachement.numero }}
                            du {{ attachement.dateAttachement | date ('d M Y') }}
                        </a>

                        {% if attachement.valide %}
                            <span class="place-right mif-checkmark fg-green"></span>
                        {% else %}
                            <span class="place-right mif-warning fg-red"></span>
                        {% endif %}
                    </td>
                    <td>{{ attachement.type }}</td>
                    <td class="align-right">{{ attachement.montantHTVA | separer }} Ar.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if entity.ferme %}
            <a class="button primary" href="{{ path('decompte_recapitulation', {'marcheId': entity.avenant.marche.id, 'decompteId': entity.id}) }}">
                Récapitulation
            </a>
            <a class="button primary" href="{{ path('decompte_cpa', {'marcheId': entity.avenant.marche.id, 'decompteId': entity.id}) }}">
                Certificat pour paiement d'acompte
            </a>

        {% else %}
            <a class="button primary ajax-button" href="{{ path('attachement_new', {'marcheId': entity.avenant.marche.id, 'decompteId': entity.id}) }}">Ajouter un attachement</a>
            <a class="button warning" href="{{ path('decompte_cloture', {'decompteId' : entity.id, 'marcheId' : entity.avenant.marche.id}) }}">Clôturer le décompte</a>
        {% endif %}
    </div>
{% else %}
    <div class="laiso-bordered padding10 margin10 no-margin-left no-margin-right no-margin-bottom align-center">
        <h3>Aucun attachement trouvé.</h3>
        <a class="button primary ajax-button" href="{{ path('attachement_new', {'marcheId': entity.avenant.marche.id, 'decompteId': entity.id}) }}">Ajouter un attachement de travaux</a>
    </div>
{% endif %}