{% extends '::base.html.twig' %}

{% block title %}Admin - Modifier le Bloc {{ entity }}{% endblock %}

{% block breadcumbs %}
    <li><a href="#">Admin</a></li>
    <li><a href="{{ path('bloc') }}">Bloc</a></li>
    <li><a href="{{ path('bloc_show', {'id': entity.id}) }}">{{ entity }}</a></li>
    <li><a href="{{ path('bloc_edit', {'id': entity.id}) }}">Modifier</a></li>
{% endblock %}

{% block body -%}
    {% include '@LaisoArm/Bloc/includes/edit_bloc.html.twig' %}
{% endblock %}
