{% extends '::base.html.twig' %}

{% block title %}Admin - Bloc{% endblock %}

{% block breadcumbs %}
    <li><a href="#">Admin</a></li>
    <li><a href="{{ path('bloc') }}">Bloc</a></li>
{% endblock %}

{% block body -%}
    {% if entities | length > 0 %}
        <table class="table border bordered">
            <thead>
            <tr>
                <th style="width: 10%;">Numéro</th>
                <th>Localisation</th>
                <td>Siège</td>
                <th style="width: 20%">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.numero }}</td>
                    <td>{{ entity.localisation }}</td>
                    <td>{{ entity.siege }}</td>
                    <td class="align-center">
                        {#<a href="{{ path('bloc_show', { 'id': entity.id }) }}">
                            <span data-role="hint" data-hint-background="bg-darkTeal" data-hint-color="fg-white"
                                  data-hint="Détailler|Détailler le bloc {{ entity.localisation }}">Détails</span>
                        </a>#}
                        &nbsp;
                        <a class="ajax-button" href="{{ path('bloc_edit', { 'id': entity.id }) }}"><span
                                    data-role="hint" data-hint-background="bg-darkTeal" data-hint-color="fg-white"
                                    data-hint="Modifier|Modifier le bloc  {{ entity.localisation }}">Modifier</span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include ('LaisoArmBundle:Shared:paginator.html.twig') %}

        <a class="button primary ajax-button" id="new" href="{{ path('bloc_new') }}">Créer un nouveau bloc</a>
    {% else %}
        <div class="align-center margin10 no-margin-left no-margin-right no-margin-bottom laiso-bordered padding10">
            <h3>Aucun bloc</h3>
            <a class="button primary ajax-button" id="new" href="{{ path('bloc_new') }}">Créer un nouveau bloc</a>
        </div>
    {% endif %}
{% endblock %}
