{% extends '::base.html.twig' %}

{% block title %}Admin - Nouveau Bloc{% endblock %}

{% block breadcumbs %}
    <li><a href="#">Admin</a></li>
    <li><a href="{{ path('bloc') }}">Bloc</a></li>
    <li><a href="{{ path('bloc_new') }}">Créer</a></li>
{% endblock %}

{% block body -%}
    {% include ('@LaisoArm/Bloc/includes/new_bloc.html.twig') %}
{% endblock %}
