{% extends '::base.html.twig' %}

{% block title %}Admin - Bloc {{ entity }}{% endblock %}

{% block breadcumbs %}
    <li><a href="#">Admin</a></li>
    <li><a href="{{ path('bloc') }}">Bloc</a></li>
    <li><a href="{{ path('bloc_show', {'id': entity.id}) }}">{{ entity }}</a></li>
{% endblock %}

{% block body -%}

    <table class="table border bordered">
        <tr>
            <th style="width: 20%">Numéro</th>
            <td>{{ entity.numero }}</td>
        </tr>
        <tr>
            <th>Localisation</th>
            <td>{{ entity.localisation }}</td>
        </tr>
        <tr>
            <th>Siège</th>
            <td>{{ entity.siege }}</td>
        </tr>
    </table>
    <a href="{{ path('bloc_delete_ajax', {'id' : entity.id}) }}"
       class="button danger place-right ajax-button">Supprimer</a>

    {#<a class="button primary" href="{{ path('bloc') }}"> Retourner à la liste des blocs </a>#}

    <a class="primary button ajax-button" href="{{ path('bloc_edit', { 'id': entity.id }) }}">Modifier</a>
    <hr class="thin">
    <span class="clear-float"></span>

    {#<h1>Liste des lots dans ce bloc.</h1>
    {% if entity.lotissements|length > 0 %}

        {% set lotissements = entity.lotissements %}
        {% include ('@LaisoArm/Lotissement/includes/list_lotissement.html.twig') %}

    {% else %}
        <div class="align-center laiso-bordered bg-white">
            <h1>
                <span class="small">Aucun lot.</span>
            </h1>
        </div>
    {% endif %}#}
{% endblock %}
