{% extends '::export.html.twig' %}

{% set isAssujetti = entity.decompte.avenant.marche.entrepriseAssujettie %}

{% block body %}
    <div class="laiso-bordered padding10 margin10 no-margin-left no-margin-right no-margin-bottom">
        <div class="align-center">
            <h5 class="text-bold">DIVISION TRAVAUX D'ENTRETIEN COURANT</h5>
            <h6>BLOC N° {{ entity.decompte.avenant.marche.lotissement.bloc.numero }}</h6>
            **********
        </div>
        <div>
            <dl class="horizontal">
                <dt>OBJET</dt>
                <dd>
                    {{ entity.decompte.avenant.marche.lotissement.objet }}
                </dd>

                <dt>Marché n°</dt>
                <dd>{{ entity.decompte.avenant.marche }}</dd>

                <dt>TITULAIRE</dt>
                <dd>{{ entity.decompte.avenant.marche.entreprise.denomination }}</dd>
            </dl>
        </div>
        {% if entity.type == "AVANCE" %}
            {% include '@LaisoArm/Attachement/show/avance.html.twig' %}
        {% elseif entity.type == 'TRAVAUX' %}
            {% include '@LaisoArm/Attachement/show/default.html.twig' %}
        {% elseif entity.type == 'RETENUE' %}
            {% include '@LaisoArm/Attachement/show/retenue.html.twig' %}
        {% elseif entity.type == 'RESTITUTION' %}
            {% include '@LaisoArm/Attachement/show/restitution.html.twig' %}
        {% elseif entity.type == 'REMBOURSEMENT' %}
            {% include '@LaisoArm/Attachement/show/remboursement.html.twig' %}
        {% endif %}
    </div>
{% endblock %}
