{% extends '::base.html.twig' %}

{% block title %}
    Attachement
{% endblock %}

{% block breadcumbs %}
    <li><a href="{{ path('marche') }}">Marché</a></li>
    <li><a href="{{ path('marche_show', {'id' : entity.decompte.avenant.marche.id}) }}">Marché n° {{ entity.decompte.avenant.marche.numero }}</a></li>
    <li><a href="{{ path('decompte', {'marcheId': entity.decompte.avenant.marche.id}) }}">Décomptes</a></li>
    <li><a href="{{ path('decompte_show', {'marcheId': entity.decompte.avenant.marche.id, 'decompteId': entity.decompte.id}) }}">Décompte n° {{ entity.decompte.numero }} du {{ entity.decompte.dateDecompte|localizeddate('long', 'none') }}</a></li>
    <li><a href="{{ path('attachement_show', {'marcheId': entity.decompte.avenant.marche.id, 'decompteId': entity.decompte.id, 'id' : entity.id}) }}) }}">Attachement n° {{ entity.numero }}</a></li>
{% endblock %}

{% set tva = entity.decompte.avenant.marche.entrepriseAssujettie ? entity.decompte.avenant.marche.lotissement.campagne.tVA : 0 %}

{% block body -%}
<div class="laiso-bordered padding10 margin10
    no-margin-left no-margin-right no-margin-bottom">


    <div class="align-center">
        <h5 class="text-bold">DIVISION TRAVAUX D'ENTRETIEN COURANT</h5>
        <h6>BLOC N° {{ entity.decompte.avenant.marche.lotissement.numero }}</h6>
        **********
    </div>
    <div style="width: 60%; margin: auto auto;">
        <table class="table">
            <tr>
                <td class="text-bold">OBJET</td>
                <td>
                    {{ entity.decompte.avenant.marche.lotissement.objet }}
                </td>
            </tr>
            <tr>
                <td class="text-bold">Marché n°</td>
                <td>
                    {{ entity.decompte.avenant.marche }}
                </td>
            </tr>

            <tr>
                <td class="text-bold">TITULAIRE</td>
                <td>
                    {{ entity.decompte.avenant.marche.entreprise.denomination }}
                </td>
            </tr>
        </table>
    </div>

    {% if entity.type == "AVANCE" %}
        {% include '@LaisoArm/Attachement/show/avance.html.twig' %}
    {% elseif entity.type == 'TRAVAUX' %}
        {% include '@LaisoArm/Attachement/show/default.html.twig' %}
    {% elseif entity.type == 'RETENUE' %}
        {% include '@LaisoArm/Attachement/show/retenue.html.twig' %}
    {% elseif entity.type == 'RESTITUTION' %}
        {% include '@LaisoArm/Attachement/show/restitution.html.twig' %}
    {% elseif entity.type == 'REMBOURSEMENT' %}
        {% include '@LaisoArm/Attachement/show/remboursement.html.twig' %}
    {% endif %}
</div>

    {% if not entity.valide %}
        <a class="button primary place-right success confirm"
           href="{{ path('attachement_validate', {'marcheId': entity.decompte.avenant.marche.id, 'decompteId': entity.decompte.id, 'attachementId': entity.id}) }}">Valider</a>

        <a class="button primary place-right" href="{{ app.request.requestUri }}">Envoyer les données</a>
    {% endif %}
    {% if entity.valide %}
        <a class="button primary" target="_blank"
           href="{{ path('attachement_to_pdf', {'attachementId': entity.id, 'marcheId': entity.decompte.avenant.marche.id, 'decompteId': entity.decompte.id}) }}">Exporter
            au format PDF</a>
    {% endif %}
    {% if entity.retenue is not null %}
        <a class="button warning"
           href="{{ path('attachement_show', {'id': entity.retenue.id, 'marcheId': entity.decompte.avenant.marche.id, 'decompteId': entity.decompte.id}) }}">Retenue
            de garantie</a>
    {% endif %}
{% endblock %}
