{% extends '::base.html.twig' %}

{% block title %}Paramétrage - Modifier le Type de consistance {{ entity }}{% endblock %}

{% block breadcumbs %}
    <li><a href="{{ path('typeconsistance') }}">Type de consistance</a></li>
    <li><a href="{{ path('typeconsistance_show', {'id': entity.id}) }}">{{ entity.abbrege }} - {{ entity.type }}</a></li>
    <li><a href="{{ path('typeconsistance_edit', {'id': entity.id}) }}">Modifier</a></li>
{% endblock %}

{% block body -%}
{% include ('@LaisoArm/TypeConsistance/includes/edit_typeConsistance.html.twig') %}
{% endblock %}
