{% extends '::base.html.twig' %}

{% block title %}Paramétrage - Nouveau Type de consistance{% endblock %}

{% block breadcumbs %}
    <li><a href="{{ path('typeconsistance') }}">Type de consistance</a></li>
    <li><a href="{{ path('typeconsistance_new') }}">Créer</a></li>
{% endblock %}

{% block body -%}
    {% include ('@LaisoArm/TypeConsistance/includes/new_typeConsistance.html.twig') %}
{% endblock %}
