{% if entity.libelle.numero == 0 %}
    <h1>Modification du marché {{ entity.marche.numero }}
        <small class="fg-gray">(Marché initial)</small>
    </h1>
{% else %}
    <h1>Modification de l'avenant numéro {{ entity.libelle.numero }} du marché {{ entity.marche.numero }}</h1>
{% endif %}
<br>
{{ form_start(edit_form) }}
<div class="grid laiso-bordered padding10">
    <div class="row">
        <strong>Motif</strong>
        <div class="input-control textarea full-size">
            {{ form_widget(edit_form.motif) }}
        </div>
    </div>
    <div class="row cells3">
        <div class="cell">
            <strong>Délai</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.delai) }}
            </div>

            <div class="input-control number full-size">
                {{ form_widget(edit_form.delai) }}
            </div>
        </div>
        <div class="cell">
            <strong>Date de signature de l'Entreprise</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.dateSignatureEntreprise) }}
            </div>

            <div class="input-control full-size" data-role="datepicker" data-format="dd/mm/yyyy">
                {{ form_widget(edit_form.dateSignatureEntreprise) }}
            </div>
        </div>
        <div class="cell">
            <strong>Date de signature de l'ARM</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.dateSignatureArm) }}
            </div>

            <div class="input-control full-size" data-role="datepicker" data-format="dd/mm/yyyy">
                {{ form_widget(edit_form.dateSignatureArm) }}
            </div>
        </div>
    </div>
    <div class="row cells3">
        <div class="cell">
            <strong>Date de VISA</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.dateVisa) }}
            </div>

            <div class="input-control full-size" data-role="datepicker" data-format="dd/mm/yyyy">
                {{ form_widget(edit_form.dateVisa) }}
            </div>
        </div>
        <div class="cell">
            <strong>Date OS de notification</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.dateOsNotification) }}
            </div>

            <div class="input-control full-size" data-role="datepicker" data-format="dd/mm/yyyy">
                {{ form_widget(edit_form.dateOsNotification) }}
            </div>
        </div>
        <div class="cell">
            <strong>Date OS de démarrage</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.dateOsDemarrage) }}
            </div>

            <div class="input-control full-size" data-role="datepicker" data-format="dd/mm/yyyy">
                {{ form_widget(edit_form.dateOsDemarrage) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(edit_form) }}
