<h1>Ajout d'avenant pour le marché {{ entity.marche.numero }}</h1>
<br>
{{ form_start(form) }}
<div class="grid laiso-bordered padding10">
    <div class="row">
        <strong>Motif</strong>
        <div class="input-control textarea full-size">
            {{ form_widget(form.motif) }}
        </div>
    </div>
    <div class="row cells3">
        <div class="cell">
            <strong>Délai</strong>

            <div class="fg-red">
                {{ form_errors(form.delai) }}
            </div>

            <div class="input-control number full-size">
                {{ form_widget(form.delai) }}
            </div>
        </div>
        <div class="cell">
            <strong>Date de signature de l'Entreprise</strong>

            <div class="fg-red">
                {{ form_errors(form.dateSignatureEntreprise) }}
            </div>

            <div class="input-control full-size" data-role="datepicker" data-format="dd/mm/yyyy">
                {{ form_widget(form.dateSignatureEntreprise) }}
            </div>
        </div>
        <div class="cell">
            <strong>Date de signature de l'ARM</strong>

            <div class="fg-red">
                {{ form_errors(form.dateSignatureArm) }}
            </div>

            <div class="input-control full-size" data-role="datepicker" data-format="dd/mm/yyyy">
                {{ form_widget(form.dateSignatureArm) }}
            </div>
        </div>
    </div>
    <div class="row cells3">
        <div class="cell">
            <strong>Date de VISA</strong>

            <div class="fg-red">
                {{ form_errors(form.dateVisa) }}
            </div>

            <div class="input-control full-size" data-role="datepicker" data-format="dd/mm/yyyy">
                {{ form_widget(form.dateVisa) }}
            </div>
        </div>
        <div class="cell">
            <strong>Date OS de notification</strong>

            <div class="fg-red">
                {{ form_errors(form.dateOsNotification) }}
            </div>

            <div class="input-control full-size" data-role="datepicker" data-format="dd/mm/yyyy">
                {{ form_widget(form.dateOsNotification) }}
            </div>
        </div>
        <div class="cell">
            <strong>Date OS de démarrage</strong>

            <div class="fg-red">
                {{ form_errors(form.dateOsDemarrage) }}
            </div>

            <div class="input-control full-size" data-role="datepicker" data-format="dd/mm/yyyy">
                {{ form_widget(form.dateOsDemarrage) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
