<h1 class="fg-darkTeal">Création de nouveau bloc</h1>
<br>
{{ form_start(form, {'attr':{
    'data-role': 'validator',
    'data-show-required-state': "false",
    'data-hint-mode': "line",
    'data-hint-background': "bg-red",
    'data-hint-color': "fg-white",
    'data-hide-error': "5000"
}}) }}
<div class="grid laiso-bordered padding10">
    <div class="row cells5">
        <div class="cell">
            <strong>Numéro du bloc</strong>

            <div class="fg-red">
                {{ form_errors(form.numero) }}
            </div>

            <div class="input-control text full-size">
                {{ form_widget(form.numero) }}
                <span class="input-state-error mif-warning"></span>
                <span class="input-state-success mif-checkmark"></span>
            </div>
        </div>

        <div class="cell colspan2">
            <strong>Emplacement du bloc</strong>

            <div class="fg-red">
                {{ form_errors(form.localisation) }}
            </div>

            <div class="input-control text full-size">
                {{ form_widget(form.localisation) }}
                <span class="input-state-error mif-warning"></span>
                <span class="input-state-success mif-checkmark"></span>
            </div>
        </div>

        <div class="cell colspan2">
            <strong>Siège du bloc</strong>

            <div class="fg-red">
                {{ form_errors(form.siege) }}
            </div>

            <div class="input-control text full-size">
                {{ form_widget(form.siege) }}
                <span class="input-state-error mif-warning"></span>
                <span class="input-state-success mif-checkmark"></span>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}