/**
 * Created by laiso on 19/11/2015.
 */

.laiso-bordered{
    border: solid 1px lightgray;
}

th{
    text-align: right;
}

.flash-default, .flash-error, .flash-primary, .flash-success, .flash-warning{
    margin-bottom: 2px;
}

.flash-default {
    background-color: #f1f7e2;
}

.flash-success {
    background-color: #6dcc23;
}

.flash-warning{
    background-color: #f5ff0b;
}

.flash-error{
    background-color: #cc1100;
    color: #f0f0f0;
}

.flash-primary{
    background-color: #00aff0;
}

.dqe-action{
    display: none;
}

label{
    display: none;
}