<h1>Nouvel axe</h1>

{{ form_start(form, {'attr':{
    'data-role': 'validator',
    'data-show-required-state': "false",
    'data-hint-mode': "line",
    'data-hint-background': "bg-red",
    'data-hint-color': "fg-white",
    'data-hide-error': "5000"
}}) }}

<div class="grid laiso-bordered padding10">
    <div class="row cells3">
        <div class="cell">
            <strong>Type</strong>

            <div class="fg-red">
                {{ form_errors(form.type) }}
            </div>

            <div class="input-control select full-size">
                {{ form_widget(form.type) }}
                <span class="input-state-error mif-warning"></span>
                <span class="input-state-success mif-checkmark"></span>
            </div>
        </div>
        <div class="cell colspan2">
            <strong>Numéro</strong>

            <div class="fg-red">
                {{ form_errors(form.numero) }}
            </div>

            <div class="input-control numero full-size">
                {{ form_widget(form.numero) }}
                <span class="input-state-error mif-warning"></span>
                <span class="input-state-success mif-checkmark"></span>
            </div>
        </div>
    </div>
</div>

{{ form_end(form) }}