<h3 class="align-center text-bold">RECAPITULATION</h3>
<br>

{% set depensesFaites = 0 %}
{% set retenues = 0 %}
{% set restes = 0 %}
{% set taxes = 0 %}

<table class="table border  bordered">
    <thead>
    <tr>
        <th style="text-align: center">NATURE DES DEPENSES</th>
        <th style="text-align: center; width: 15%;">DEPENSES FAITES</th>
        <th style="text-align: center; width: 15%;">RETENUES</th>
        <th style="text-align: center; width: 15%;">RESTES</th>
        <th style="text-align: center; width: 15%;">TAXES</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>TRAVAUX TERMINÉS</td>
        {% if termine %}
            {% set depensesFaites = depensesFaites + travaux %}
            {% set restes = restes + travaux %}
            {% set taxes = taxes + travaux * tva / 100 %}

            <td class="align-right">{{ travaux | separer }}</td>
            <td></td>
            <td class="align-right">{{ travaux | separer }}</td>
            <td class="align-right">{{ (travaux * tva / 100) | separer }}</td>
        {% else %}
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        {% endif %}
    </tr>

    <tr>
        <td>TRAVAUX EN RÉGIE</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>REVISION DÉFINITIVE DES TRAVAUX</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>INTERÊT MORATOIRE</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>TRAVAUX NON TERMINÉS</td>
        {% if not termine %}
            {% set depensesFaites = depensesFaites + travaux %}
            {% set restes = restes + travaux %}
            {% set taxes = taxes + travaux * tva / 100 %}

            <td class="align-right">{{ travaux | separer }}</td>
            <td></td>
            <td class="align-right">{{ travaux | separer }}</td>
            <td class="align-right">{{ (travaux * tva / 100) | separer }}</td>
        {% else %}
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        {% endif %}
    </tr>

    <tr>
        <td>RÉVISION PROVISOIRE DES PRIX</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>APPROVISIONNEMENT</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>

        <td>AVANCES</td>
        {% if avance %}
            {% set depensesFaites = depensesFaites + avance %}
            {% set restes = restes + avance %}
            {% set taxes = taxes + avance * tva / 100 %}
            <td class="align-right">{{ avance | separer }}</td>
            <td class="align-right"></td>
            <td class="align-right">{{ avance | separer }}</td>
            <td class="align-right">{{ (avance * tva / 100) | separer }}</td>
        {% else %}
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        {% endif %}
    </tr>

    <tr>
        <td class="align-right">TOTAUX</td>
        <td class="align-right">{{ depensesFaites | separer }}</td>
        <td class="align-right"></td>
        <td class="align-right">{{ restes | separer }}</td>
        <td class="align-right">{{ taxes | separer }}</td>
    </tr>

    <tr class="text-bold">
        <td colspan="3" class="align-center">MONTANT DU DÉCOMPTE</td>
        {% set montantDecompte = restes + taxes %}
        <td colspan="2" class="align-center text-accent text-bold">{{ (montantDecompte) | separer }}</td>
    </tr>

    <tr><td colspan="5" class="align-center"></td></tr>

    <tr>
        <td colspan="3">A déduire les dépenses imputées sur les gestions antérieures</td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="3">Reste à payer sur la gestion en cours</td>
        <td class="align-right">{{ restes | separer }}</td>
        <td class="align-right">{{ (restes * tva / 100) | separer }}</td>
    </tr>

    <tr>
        {% set restes = restes - acomptesDelivres %}
        {% set taxes = taxes - (acomptesDelivres * tva / 100) %}
        <td colspan="3">A déduire montant des accomptes délivrés sur la gestion en cours</td>
        <td class="align-right">{{ acomptesDelivres | separer }}</td>
        <td class="align-right">{{ (acomptesDelivres * tva / 100) | separer }}</td>
    </tr>

    <tr>
        <td colspan="3">Montant brut de l'acompte à délivrer</td>
        <td class="align-right">{{ restes | separer }}</td>
        <td class="align-right">{{ (restes * tva / 100) | separer }}</td>
    </tr>

    <tr>
        {% set restes = restes - remboursement %}
        {% set taxes = taxes - (remboursement * tva / 100) %}
        <td colspan="3">Retenues en remboursement d'avance </td>
        <td class="align-right">{{ remboursement | separer }}</td>
        <td class="align-right">{{ (remboursement * tva / 100) | separer }}</td>
    </tr>

    <tr>
        {% set restes = restes - retenuesCumulees %}
        {% set taxes = taxes - (retenuesCumulees * tva / 100) %}
        <td colspan="3">Retenue de garantie cumulée </td>
        <td class="align-right">{{ retenuesCumulees | separer }}</td>
        <td class="align-right">{{ (retenuesCumulees * tva / 100) | separer }}</td>
    </tr>

    <tr>
        {% set restes = restes + restitution %}
        {% set taxes = taxes + (restitution * tva / 100) %}
        <td colspan="3">Restitution de retenue de garantie</td>
        <td class="align-right">{{ restitution | separer }}</td>
        <td class="align-right">{{ (restitution * tva / 100) | separer }}</td>
    </tr>

    <tr>
        <td colspan="3">Montant de l'acompte à délivrer</td>
        <td class="align-right">{{ restes | separer }}</td>
        <td class="align-right">{{ taxes | separer }}</td>
    </tr>

    <tr class="text-bold">
        {% set total = restes + taxes %}
        <td colspan="3" class="align-right">TOTAL</td>
        <td colspan="2" class="align-center text-accent text-bold">{{ total | separer }}</td>
    </tr>
    </tbody>
</table>
<p>
    Vu, vérifié et arrêté le présent décompte provisoire à la somme de : <br><br>
    <span class="text-bold text-accent">{{ (total | toLetter('ariary', false)) | upper }} <br>(Ar. {{ total | separer }})</span>
</p>