<div class="align-center padding10 laiso-bordered">
    <div class="fg-darkRed bg-grayLighter padding5">
        <h1>Opération interdite.</h1>
    </div>
    <hr class="bg-red thin">
    <div class="fg-gray">
        <h3>
            Vous n'êtes pas autorisés à accéder à ce ressource
        </h3>
        <p class="small">Cet appel d'offre n'est pas disponible dans votre bloc.</p>
    </div>
</div>
