<h1>Modification de libellé de marché</h1>
<br>
{{ form_start(edit_form, {'attr':{
    'data-role': 'validator',
    'data-show-required-state': "false",
    'data-hint-mode': "line",
    'data-hint-background': "bg-red",
    'data-hint-color': "fg-white",
    'data-hide-error': "5000"
}}) }}
<div class="laiso-bordered grid padding10">
    <div class="row cells4">
        <div class="cell">
            <strong>Numéro</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.numero) }}
            </div>

            <div class="input-control number full-size">
                {{ form_widget(edit_form.numero) }}
                <span class="input-state-error mif-warning"></span>
                <span class="input-state-success mif-checkmark"></span>
            </div>
        </div>
        <div class="cell colspan3">
            <strong>Libellé de marché</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.libelle) }}
            </div>

            <div class="input-control text full-size">
                {{ form_widget(edit_form.libelle) }}
                <span class="input-state-error mif-warning"></span>
                <span class="input-state-success mif-checkmark"></span>
            </div>
        </div>

    </div>
</div>
{{ form_end(edit_form) }}