{% extends '::base.html.twig' %}

{% block title %}Paramétrage - Région {{ entity }}{% endblock %}

{% block breadcumbs %}
    <li><a href="#">Admin</a></li>
    <li><a href="{{ path('region') }}">Régions</a></li>
    <li><a href="{{ path('region_show', {'id': entity.id}) }}">{{ entity.nom }}</a></li>
{% endblock %}

{% block body -%}
    <table class="table bordered border">
        <tbody>
        <tr>
            <th style="width: 25%;">Nom</th>
            <td>{{ entity.nom }}</td>
        </tr>
        <tr>
            <th>Bloc</th>
            <td>{{ entity.bloc }}</td>
        </tr>
        </tbody>
    </table>
    <a class="button place-right primary ajax-button" href="{{ path('region_edit', { 'id': entity.id }) }}">
        Modifier
    </a>
    <a href="{{ path('region_ajax_delete', {'id': entity.id}) }}" class="button danger place-right ajax-button">Supprimer</a>
{% endblock %}
