{% extends '::base.html.twig' %}

{% block title %}Administration - Prix {{ entity }}{% endblock %}

{% block body -%}

    {% include 'LaisoArmBundle:SerieDePrix/includes:edit_serieDePrix.html.twig' %}

    <a class="button primary" href="{{ path('prix_serie') }}">
        Retourner à la liste des prix
    </a>
{% endblock %}