{% extends '::base.html.twig' %}

{% block title %}Administration - Série de Prix{% endblock %}

{% block breadcumbs %}
    <li><a href="#">Prix</a></li>
    <li><a href="{{ path('prix_serie') }}">Série des prix</a></li>
{% endblock %}
{% block body -%}
    {% if entities | length > 0 %}
        <table class="table border bordered">
            <thead>
            <tr>
                <th style="width:15%">Numéro</th>
                <th>Désignation</th>
                <th style="width:15%">Unité</th>
                <th style="width:20%">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% set current = "" %}
            {% for entity in entities %}
                {% set categorie = entity.categorie %}
                {% if current != categorie.designation %}
                    <tr class="bg-grayLight">
                        {#<td class="align-center"><strong>{{ categorie.numero }}</strong></td>#}
                        <td colspan="4" class="align-center"><strong>{{ categorie.numero }} - {{ categorie.designation }}</strong></td>
                    </tr>
                    {% set current = categorie.designation %}
                {% endif %}
                <tr>
                    <td class="padding10 no-padding-top no-padding-left no-padding-bottom align-right">
                        <h3><strong>{{ entity.numero }}</strong></h3>
                        {#<hr class="thin">
                        <span class="place-left"><small>{{ entity.categorie.designation }}</small></span>#}
                    </td>
                    <td>
                        {{ entity.designation }}
                        {#<hr class="thin">
                        <small class="place-right">{{ entity.unite.arretage }}</small>#}
                    </td>
                    <td class="align-center">{{ entity.unite }}</td>
                    <td class="align-center">

                            <a href="{{ path('prix_serie_show', { 'numero': entity.numero }) }}">
                            <span data-role="hint" data-hint-background="bg-darkTeal" data-hint-color="fg-white"
                                  data-hint="Détailler|Détailler le prix {{ entity.numero }}">Détails</span>
                            </a>

                            <a class="ajax-button" href="{{ path('prix_serie_edit', { 'numero': entity.numero }) }}">
                            <span data-role="hint" data-hint-background="bg-darkTeal" data-hint-color="fg-white"
                                  data-hint="Modifier|Modifier le prix {{ entity.numero }}">Modifier</span>
                            </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include ('LaisoArmBundle:Shared:paginator.html.twig') %}

        <a class="button primary ajax-button" href="{{ path('prix_serie_new') }}">
            Créer un nouveau prix
        </a>

    {% else %}
        <div class="laiso-bordered margin10 no-margin-left no-margin-right no-margin-bottom padding10 align-center">
            <h3>Aucun prix</h3>
            <a class="button primary ajax-button" href="{{ path('prix_serie_new') }}">
                Créer un nouveau prix
            </a>
        </div>
    {% endif %}
{% endblock %}
