{% extends '::base.html.twig' %}

{% block title %}Administration - Série de Prix {{ entity }}{% endblock %}

{% block breadcumbs %}
    <li><a href="#">Prix</a></li>
    <li><a href="{{ path('prix_serie') }}">Série des prix</a></li>
    <li><a href="{{ path('prix_serie_show', {'numero': entity.id}) }}">Prix n° {{ entity.numero }}</a></li>
{% endblock %}

{% block body -%}
    <table class="table border bordered">
        <tbody>
        <tr>
            <th>Numéro</th>
            <td>{{ entity.numero }}</td>
        </tr>
        <tr>
            <th>Désignation</th>
            <td>{{ entity.designation }}</td>
        </tr>
        <tr>
            <th>Catégorie</th>
            <td>{{ entity.categorie }}</td>
        </tr>
        <tr>
            <th>Unité</th>
            <td>{{ entity.unite }} ({{ entity.unite.abbrege }})</td>
        </tr>
        </tbody>
    </table>

    <a class="button primary ajax-button" href="{{ path('prix_serie_edit', { 'numero': entity.numero }) }}">Modifier</a>
    <a class="button danger place-right ajax-button"
       href="{{ path('prix_serie_ajax_delete', {'numero': entity.numero}) }}">Supprimer</a>
{% endblock %}
