<h1>Modifier le groupe de travaux</h1>

{{ form_start(edit_form) }}
<div class="grid">
    <div class="row cells2">
        <div class="cell">
            <strong>Consistances</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.type) }}
            </div>

            <div class="input-control select full-size" data-role="select">
                {{ form_widget(edit_form.type) }}
            </div>
        </div>
        <div class="cell">
            <strong>LIbellé</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.libelle) }}
            </div>

            <div class="input-control text full-size">
                {{ form_widget(edit_form.libelle) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(edit_form) }}
