<h1>Ajout d'un groupe de travaux</h1>

{{ form_start(form) }}
<div class="grid">
    <div class="row cells2">
        <div class="cell">
            <strong>Consistances</strong>

            <div class="fg-red">
                {{ form_errors(form.type) }}
            </div>

            <div class="input-control full-size select" data-role="select">
                {{ form_widget(form.type) }}
            </div>
        </div>
        <div class="cell">
            <strong>Libellé</strong>

            <div class="fg-red">
                {{ form_errors(form.libelle) }}
            </div>

            <div class="input-control full-size text">
                {{ form_widget(form.libelle) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
