<h1>Nouvel utilisateur</h1>

{{ form_start(form, {'attr':{
    'data-role': 'validator',
    'data-show-required-state': "false",
    'data-hint-mode': "line",
    'data-hint-background': "bg-red",
    'data-hint-color': "fg-white",
    'data-hide-error': "5000"
}}) }}
<div class="grid laiso-bordered padding10">
    <div class="row cells5">
        <div class="cell colspan2">
            <strong>Nom</strong>

            <div class="fg-red">{{ form_errors(form.nom) }}</div>
            <div class="input-control text full-size">
                {{ form_widget(form.nom) }}
                <span class="input-state-error mif-warning"></span>
                <span class="input-state-success mif-checkmark"></span>
            </div>
        </div>
        <div class="cell colspan3">
            <strong>Prénom(s)</strong>

            <div class="fg-red">{{ form_errors(form.prenom) }}</div>
            <div class="input-control text full-size">
                {{ form_widget(form.prenom) }}
                <span class="input-state-error mif-warning"></span>
                <span class="input-state-success mif-checkmark"></span>
            </div>
        </div>
    </div>

    <div class="row cells3">
        <div class="cell">
            <strong>Nom d'utilisateur</strong>

            <div class="fg-red">{{ form_errors(form.username) }}</div>
            <div class="input-control text full-size">
                {{ form_widget(form.username) }}
                <span class="input-state-error mif-warning"></span>
                <span class="input-state-success mif-checkmark"></span>
            </div>
        </div>

        <div class="cell">
            <strong>Adresse e-mail</strong>

            <div class="fg-red">{{ form_errors(form.email) }}</div>
            <div class="input-control text full-size">
                {{ form_widget(form.email) }}
                <span class="input-state-error mif-warning"></span>
                <span class="input-state-success mif-checkmark"></span>
            </div>
        </div>

        <div class="cell">
            <strong>Rôles</strong>

            <div class="fg-red">{{ form_errors(form.roles) }}</div>
            <div class="input-control text full-size">
                {{ form_widget(form.roles) }}
                <span class="input-state-error mif-warning"></span>
                <span class="input-state-success mif-checkmark"></span>
            </div>
        </div>
    </div>

    <div class="row cells2">
        <div class="cell">
            <div class="cell">
                <label class="switch-original">
                    <strong>Activer le compte?</strong>
                    {{ form_widget(form.enabled) }}
                    <span class="check"></span>
                </label>

                <div class="fg-red">{{ form_errors(form.enabled) }}</div>
            </div>
        </div>

        <div class="cell">
            <strong>Bloc (facultatif)</strong>

            <div class="fg-red">{{ form_errors(form.bloc) }}</div>
            <div class="input-control select2 full-size" data-role="select">
                {{ form_widget(form.bloc) }}
                <span class="input-state-error mif-warning"></span>
                <span class="input-state-success mif-checkmark"></span>
            </div>
        </div>
    </div>
</div>

{{ form_end(form) }}